[2021-10-01 17:57] VVX7 commented on #370
a wild colleague appeared!

[2021-10-01 18:23] privateducky commented on #370
This has been on my mind, since we re-did the main section in 1.2.

We can pretty easily add state to the page, so it retains the range/agent you have selected now. We'll aim to get that in by 1.3.

[2021-10-05 14:18] stephanwampouille commented on #366
@privateducky @khyberspache Not sure what your thoughts are but I feel like this may be an issue to prioritize

[2021-10-05 14:27] privateducky commented on #366
Yep, I'd like to get this in for/ahead of 1.3.

It should be a pretty easy add, on the Outpost side.

[2021-10-05 17:38] lzimm commented on #363
Interesting @VVX7, sorry about the slow follow up on this one. If you're seeing the spinner stay stuck there though that kinda hints to me at some sort of exception being thrown somewhere. so with that said, you don't happen to see anything in your console log when this happens, do you?

[2021-10-05 17:59] VVX7 commented on #363
No, nothing in console logs.

[2021-10-05 18:20] lzimm commented on #363
Hmm, damn, thanks @VVX7, I'm assuming you're hitting the delete button on the right side of the screen here right?

![image](https://user-images.githubusercontent.com/139388/136080328-1ba55cc4-c4e1-4059-b00f-3d787ec0e903.png)

does it make a difference if you use the built-in thirdeye vs. an external agent?

[2021-10-05 18:23] VVX7 commented on #363
Oh, yeah. It works as expected with thirdeye. Hitting this issue with Pneuma/PneumEX.

[2021-10-05 18:23] lzimm commented on #363
haha, alright, thanks dude, i'll try to dig into it and see.

[2021-10-06 11:11] privateducky commented on #349
@lzimm i want address at least parts of this before 1.3. we've had a few more reports come in, with similar asks (mostly around the grey-on-black font usage).

i did a quick scan of our CSS file and simply find-and-replacing #666 to #ccc brightens things up quite a bit. obviously, we can be more tactful with the change (to also include the react plugins) but a bit of tweaking here before 1.3 will

[2021-10-08 18:28] VVX7 opened #372 "Swagger get attack by ID malformed URL"
There's a bug in the string substitution and unnecessary URL param when this endpoint URL is constructed.
`?id=` should be removed.

http://localhost:8888/docs/#/default/get_attack__id_

Broken URL -
`http://localhost:8888/attack/{id}?id=1d83bce0-5454-4600-ae2d-e38ea4e56804`

Should be -
`http://localhost:8888/attack/1d83bce0-5454-4600-ae2d-e38ea4e56804`

[2021-10-08 20:49] stephanwampouille opened #373 "Preflight response not successful in headless mode."
I get this error trying to run any function in the api while in headless mode. Alex said to share with you @lzimm

<img width="1401" alt="Screen Shot 2021-10-08 at 4 31 23 PM" src="https://user-images.githubusercontent.com/84744117/136623086-3ad248f0-6e7c-4071-90e3-50dc5835a3f1.png">

[2021-10-08 22:20] lzimm commented on #373
seems working to me?

![image](https://user-images.githubusercontent.com/139388/136630621-342bb817-2ed8-4cca-9d20-9f14c2f9c2d1.png)

[2021-10-09 22:35] VVX7 commented on #372
This one too: http://localhost:8888/docs/#/default/get_plugin__name_

[2021-10-10 12:18] VVX7 opened #374 "Add colour blind safe and high contrast themes"
This tool from Adobe helps create colour blind friendly palettes.
https://color.adobe.com/create/color-accessibility

The same tool can be used for showing contrast ratio between colours.  A ratio of at least 4.5:1 is ideal for high-contrast text.
https://color.adobe.com/create/color-contrast-analyzer

[2021-10-14 20:30] clr2of8 opened #375 "Have to restart app to switch back to dark mode"
with the ThemeChanger plugin I enter `C:\Users\art\Downloads\light.css` and it changes to the light theme, but then I choose "Default (dark)" from the "Pick you theme" dropdown and it doesn't change back to dark until I close and reopen the app or press Ctrl+R

[2021-10-14 21:56] clr2of8 opened #376 "I can't give my new chain a name until after I've added a TTP"

[2021-10-14 21:59] clr2of8 opened #377 "Chains vs. Adversaries terminology"
There is a terminology inconsistency. I select "create new chain" give my chain a name and then it gets listed under the "custom adversaries" section. Shouldn't this be "custom chains"?

![image](https://user-images.githubusercontent.com/22311332/137401393-3bec16d9-c97d-48ef-a5be-6479637b7c64.png)

[2021-10-15 00:34] clr2of8 opened #378 "Newly created TTP doesn't show up in Operate menu until restart"
I created a new TTP using the editor menu. When I go to the Operate menu and "create new chain" and search for my new TTP it doesn't show up. I have to restart operator to get my newly created TTP to show up.

[2021-10-15 23:32] clr2of8 opened #379 "Can't enter a path to an existing payload"
As soon as I type either a forward slash or a back slack the dialog closes so I can't enter a path or a url with http://

![image](https://user-images.githubusercontent.com/22311332/137564250-ac32dc15-4b45-44fa-b02b-105a148769f9.png)

If I want to enter "c:\users\art\payload.exe" I can only type c:\ and then it acts like I pressed enter and sets the payload to "c:"

[2021-11-01 20:40] privateducky commented on #368
closing. see linked PR for discussion.

[2021-11-01 20:40] #368 closed

[2021-11-02 23:40] secdev-01 commented on #350
I ran into this today , in our range with an older Kali distro.  I was able to get it to work with
`./Operator.appImage --no-sandbox` likely not the best override, but it may help.

But wanted to share in case it helps.

[2021-11-03 11:12] privateducky commented on #350
thanks - it does - we'll be looking at solving this before our 1.3 release in the coming week.

[2021-11-03 15:15] stephanwampouille commented on #366
@khyberspache @privateducky bumping this for 1.3

[2021-11-03 15:32] privateducky commented on #366
Yep, this is on the 1.3 list. If you are a current Pro customer looking for agent source code, head to Discord and jump in the professionals channel.

[2021-11-08 20:06] CT-H00K opened #380 "Splitting ART plugin in technique categories"
Hi,
I was wondering if it would be possible to split the ART plugin in technique sub-categories like discovery, credential-access, privilege escalation etc.

Since right now it's just a long list of TTPs, and it's kind of hard to find the techniques for e.g discovery in it, if the technique number is not known.

Also it would be easier to create custom adversaries by category.

[2021-11-08 20:40] privateducky commented on #380
Absolutely! I've been wanting to do that myself for awhile.

If you're comfortable with JavaScript - and want to take a stab at solving this, you can find the plugin code here online: https://github.com/preludeorg/community/blob/master/plugins/ART/ART.html

It's something that we'll definitely circle on - but if you/someone else solves it first, we'll likely merge it.

[2021-11-08 20:58] khyberspache opened #381 "Need way to delete ART artifacts without factory reseting operator"

[2021-11-08 20:58] khyberspache opened #382 "Need way to track and deprovision virtual machines, not just redirectors"

[2021-11-08 21:03] privateducky commented on #381
There are two immediate ways we could do this:
1. add a multi-select delete from the Editor section.
2. add a delete option in the ART plugin, for specifically ART TTPs.

We've chatted about 1 before, which has some complexities to it. 2 would be pretty doable though, so that's my going recommendation on this one, if someone wants to attempt it (the plugin is open source).

[2021-11-08 21:05] privateducky commented on #382
Can you give some more context on this?

The deprovisioning in Cloud/Connect plugins is centered around redirectors. Do you mean mean add deprovisioning to the Linux/Windows VMs you can spin up from the plugins or something else?

[2021-11-08 21:08] CT-H00K commented on #380
Sorry I'm not really good in Javascript, but the information is already in the YAML file. So for an experienced Javascript developer it would be much quicker to solve.

The part should be here, not going over data.atomic_tests.Each but over data.Each and checking if atomic tests are not empty, I guess.
https://github.com/preludeorg/community/blob/757e9805119fd34f15a1e53d16f76616224247f5/plugins/AR

[2021-11-08 21:17] privateducky commented on #380
perfect. we'll definitely circle on this!

[2021-11-09 13:36] khyberspache opened #383 "Operator not receiving results from windows HTTP agent"
What happens:
- Tasks go to agent, are executed, responses are never collected

OS:
- Operator on linux
- Agent on windows

Repro:
1. Build this adversary:
<img width="228" alt="CleanShot 2021-11-09 at 08 34 39@2x" src="https://user-images.githubusercontent.com/43142871/140933458-859b4376-26bc-4feb-9d8e-28db15a025e6.png">
2. Deploy redirector and switchboard from Linux
3. compile and build fresh a

[2021-11-09 13:38] privateducky commented on #383
@stephanwampouille can you test this on latest master code to see if it'll be an issue in 1.3 or if we resolved it?

[2021-11-09 14:19] khyberspache opened #384 "Requesting non-existing payloads hangs agents and throws unhandled error"
<img width="882" alt="CleanShot 2021-11-09 at 09 18 31@2x" src="https://user-images.githubusercontent.com/43142871/140940684-8bbfb268-29ba-4ef6-a01a-c10459d7a992.png">

[2021-11-09 14:22] privateducky commented on #384
Confirming: this is the agent requesting a missing payload, which Operator then looks for and throws the above exception, right?

[2021-11-09 14:23] khyberspache commented on #384
yes

[2021-11-09 14:25] privateducky commented on #384
@stephanwampouille can you try this in master to see if we resolved it in 1.3?

we made updates in this area but i don't think anything that would have fixed this particular bug - but it'd be good to check first.

[2021-11-09 22:01] khyberspache commented on #383
Removing `List local active services` makes everything run perfectly

[2021-11-09 22:56] khyberspache commented on #383
Root Cause: Express payload size exception

[2021-11-10 02:04] stephanwampouille commented on #383
Tested the original chain that was included in the first post. I got the following results which has killed my redirector connection and frozen it from connecting again. This was tested on master code.
<img width="1113" alt="Screen Shot 2021-11-09 at 9 02 50 PM" src="https://user-images.githubusercontent.com/84744117/141036162-5bd5590f-92ab-442e-ab73-17db727c43b1.png">
<img width="1345" alt="Scree

[2021-11-10 02:36] stephanwampouille commented on #383
I deployed that chain onto the linux VM agent connected through tcp and got this:
<img width="1103" alt="Screen Shot 2021-11-09 at 9 35 37 PM" src="https://user-images.githubusercontent.com/84744117/141039295-f20b02cb-dcce-4dad-ac0f-db4dc79f98bf.png">

[2021-11-10 16:22] stephanwampouille commented on #384
Testing in 1.3 throws only the following error:
I didn't get the unhandled error.
<img width="1102" alt="Screen Shot 2021-11-10 at 11 22 14 AM" src="https://user-images.githubusercontent.com/84744117/141151693-2b1032a7-2a11-4921-ba57-26afb1350b3a.png">
:

[2021-11-10 16:58] privateducky commented on #384
@lzimm can you check on this one?

[2021-11-10 18:04] lzimm commented on #384
@stephanwampouille how did you trigger that? did you manually specify a payload that not only doesn't exist locally, but doesn't exist AT ALL, and then it fails expectedly when we try to download when hitting outpost? as opposed to just downloading one that SHOULD exist but doesn't?

[2021-11-10 19:27] lzimm commented on #384
btw @stephanwampouille @privateducky this error seems handled:

[code]

note the catch at the end, and even though the downloads fail, everything keeps running fine.

[2021-11-10 19:47] stephanwampouille commented on #384
I ran the following piece of code from a shell: `curl http://localhost:3391/payloads/doesnotwork/missing.exe`

[2021-11-10 20:13] lzimm commented on #384
yeah, looks like that behaves as expected

[2021-11-12 12:28] khyberspache opened #385 "Add paywall filter to Editor"
Need a toggle to remove all the paywalled TTPs from editor.

![image](https://user-images.githubusercontent.com/43142871/141467232-8afc812c-4f31-4c89-841c-6aa860f4e09a.png)

[2021-11-12 12:29] privateducky commented on #385
@lzimm @ptiglias noted this last week on our 1.3 dev build as well. can you check if we lost the filter somewhere?

[2021-11-12 14:13] privateducky commented on #385
marking this as a 1.3 blocking ticket (we won't release until it's solved)

[2021-11-12 14:14] privateducky commented on #383
this has been resolved through a patch + an update to Pneuma. Marking as solved in 1.3.

[2021-11-12 14:15] #378 closed

[2021-11-12 14:17] privateducky commented on #350
@jpmoss do you have any thoughts on this one?

[2021-11-12 16:23] stephanwampouille commented on #375
Can confirm that you cannot switch back and forth between light and dark themes without restarting. I also noticed that the light.css theme that I imported kept getting deleted once I restarted the app. I took these steps:

- Import the light.css theme, which will activate it
- Clicking back and forth between light and dark(default) will not switch them.
- Click default dark theme and restart app

[2021-11-12 16:28] privateducky commented on #375
ok - this might be another good screen-share one w/you and @lzimm

[2021-11-12 16:48] lzimm commented on #385
this got removed on purpose (via unanimous discussion) a few months ago, regardless, adding back here: https://github.com/preludeorg/plugins/commit/90c377670ba9ff018c232db3b3b13bebddda5186

[2021-11-12 16:51] privateducky commented on #385
:) I feel like this is the element none of us can remember what to do with

[2021-11-12 16:51] #385 closed

[2021-11-15 17:58] privateducky commented on #338
This will be resolved in version 1.3.

[2021-11-16 21:16] stephanwampouille opened #386 "QA Conti (Discovery)"
Tested on windows laptop. Wasn't able to test WORKGROUP or DOMAIN functionalities as my computer is not apart of either.
----
1. Syntax error result
![image](https://user-images.githubusercontent.com/84744117/142059677-52f5d873-03cb-4a2f-bcba-790eea6d9a80.png)
----
2.Antivirus pickup while deploying against thirdeye but not pneuma
![image](https://user-images.githubusercontent.com/84744117/1420600

[2021-11-16 21:17] stephanwampouille commented on #386
Also for the antivirus pickup. My windows firewall and defender is turned off...

[2021-11-16 23:14] jpmoss commented on #350
So many thoughts! Also a PR submitted to address this during the build. Should be set for the next release, pending testing.

[2021-11-17 00:17] stephanwampouille opened #387 "QA printnightmare"
Tested on windows laptop using pneuma, pneumaEX, and thirdeye. I got the following results on all three tested agents. This one failed for me, couldnt get through all 5 ttps, as it would hang. IT did successfully complete the first ttp to stage agent config
---
1. Hangs on the following: Cannot finish running 'EXPLOIT PRINTNIGHTMARE VULNERABILITY TO SPAWN ELEVATED AGENT' and 'CHECK IF SPECIFIC PAT

[2021-11-17 00:21] stephanwampouille commented on #387
Disabling printer spooler service resulted in the same as well.

[2021-11-17 00:49] stephanwampouille opened #388 "QA Kaseya VS Attack Chain"
Tested on windows laptop using pneuma, pneumaEX, and thirdeye. Was not able to see this chain through

Succesfully stages agent config file and creates staging directory then hangs on the following TTPs that remain executing without change:
![image](https://user-images.githubusercontent.com/84744117/142089316-bfa0f58e-6348-466a-b2aa-062847030f9a.png)
---
Leaves these 3 on queue waiting.
![image](h

[2021-11-17 00:52] khyberspache commented on #388
You need to check the chains website for manual facts you need to specify

[2021-11-17 00:59] stephanwampouille commented on #388
thanks @khyberspache , that was an oversight by me. closing as it works without issues

[2021-11-17 00:59] #388 closed

[2021-11-17 01:25] stephanwampouille commented on #387
After adding the custom variable I am able to get past 'CHECK IF SPECIFIC PATCH IS INSTALLED' which was an oversight, but I am still getting an error that was mentioned above.

[2021-11-17 01:33] stephanwampouille commented on #387
This is still the same error blocking me:
![image](https://user-images.githubusercontent.com/84744117/142092795-3fb7047d-891f-4fb6-9840-60cbcc13a0f3.png)

[2021-11-17 23:08] stephanwampouille opened #389 "QA Sharphound"
Tested on windows, with pneuma and thirdeye. Was not able to finish.

I kept getting stuck on this hanging this ttp that wont run because it is not able to pick up the fact that is saved.
![image](https://user-images.githubusercontent.com/84744117/142296820-f5b13541-0567-4ed7-8f80-697b1f7adb5e.png)
---
THis is what is picked up:
![image](https://user-images.githubusercontent.com/84744117/142296880

[2021-11-17 23:54] stephanwampouille opened #390 "QA Staging Server (WIP)"
1. No executors for windows, should update its 'global' use on chains.prelude.org
---
2.

[2021-11-18 13:49] privateducky commented on #149
This ticket has become far easier with the recent updates to Operator 1.3.

I'm going to open an internal ticket for us to start resolving this, as early as 1.4.

[2021-11-18 13:51] privateducky commented on #258
@khyberspache what's the status of this as a ticket, overall? I know we've achieved multiple agents but unsure what you have in mind in general for scoping this particular ticket.

[2021-11-18 13:53] privateducky commented on #356
This is currently slotted as a version 1.4 ticket. There is a new concept coming to the Planner plugin, called "blueprints", which allow you to mix/match how you want to order your given kill chain at a pretty granular level. Stay tuned.

[2021-11-18 13:57] privateducky commented on #382
This seems most solvable by auto-deleting compromised servers when the redirector itself is destroyed.

[2021-11-19 15:00] bfuzzy1 commented on #386
Your step 2 is AMSI, which should work even with Defender turned off.

[2021-11-19 17:46] tr4cefl0w opened #391 "Operator 1.3 crashes on Windows"
This occurred when running Operator following the upgrade.

![image](https://user-images.githubusercontent.com/39302712/142667840-1355dba0-735e-4ac4-a5f9-083f45d9c50d.png)

Crashes then exits.

[2021-11-19 17:56] khyberspache commented on #391
Looking into this

[2021-11-19 17:58] khyberspache commented on #391
I can replicate
<img width="539" alt="CleanShot 2021-11-19 at 12 58 15@2x" src="https://user-images.githubusercontent.com/43142871/142669527-c46da9a8-f354-461b-993f-7feb0ef9c8f8.png">

[2021-11-19 19:18] privateducky commented on #391
The Windows build that went out last night was corrupted - we've rectified this now, so if you pull a new copy from https://www.prelude.org/download/current it should work fine.

If you wait a few minutes, you'll see a new 1.3.1 version being pushed up to the site. We're rolling in a few patches we noticed on edge cases for 1.3.0.

[2021-11-19 19:20] #113 closed

[2021-11-19 19:20] #262 closed

[2021-11-19 19:20] #301 closed

[2021-11-19 19:20] #314 closed

[2021-11-19 19:20] #325 closed

[2021-11-19 19:20] #338 closed

[2021-11-19 19:20] #349 closed

[2021-11-19 19:20] #350 closed

[2021-11-19 19:20] #351 closed

[2021-11-19 19:20] #358 closed

[2021-11-19 19:20] #361 closed

[2021-11-19 19:20] #362 closed

[2021-11-19 19:20] #363 closed

[2021-11-19 19:20] #367 closed

[2021-11-19 19:20] #372 closed

[2021-11-19 19:20] #375 closed

[2021-11-19 19:20] #376 closed

[2021-11-19 19:20] #377 closed

[2021-11-19 19:20] #379 closed

[2021-11-19 19:20] #383 closed

[2021-11-19 19:20] #384 closed

[2021-11-19 20:41] privateducky opened #392 "Operator 1.3.0+ slow to boot up"
We noticed a significant slow down in how long it takes the app to start in version 1.3.0 and 1.3.1. This seems sporadic and we're not sure which operating systems it is occurring on yet.

When clicking into the Plugins section, it is also quite slow, which is likely related.

We are currently investigating.

[2021-11-19 20:58] privateducky opened #393 "Enterprise plugin(s) showing up as Professional"
Currently, Enterprise plugins will appear as Pro inside Operator because that is the license they are tied to.

This currently impacts only the SIEM plugin.

[2021-11-19 21:00] privateducky opened #394 "Recommendations not showing the chain which generated it"
Run the "ransom note" chain and you'll get 1 chain recommendation in Reports. It appears empty, on the TTPs which generated the recommendation.

<img width="1335" alt="Screen Shot 2021-11-19 at 3 54 25 PM" src="https://user-images.githubusercontent.com/49954156/142690999-20cdcc6d-4fb6-4a80-9245-3c8e67534611.png">

[2021-11-19 21:01] privateducky opened #395 "HQ portal not displaying results"
HQ portal not showing results after running TTPs with the Prelude publisher on. No issues on Operator side. I've given it about 15m to see if there was a delay.

<img width="1338" alt="Screen Shot 2021-11-19 at 3 54 48 PM" src="https://user-images.githubusercontent.com/49954156/142691079-c43b323d-9287-4676-8ca3-504c097f7d1c.png">

[2021-11-20 00:47] stephanwampouille opened #396 "Linux agent custom facts disappearing on deployment"
On a linux VM, I save a custom fact, then once I deploy an adversary that requires it will fail because it needs that fact, well looking into the agent's fact, the inputted custom one is gone.

Reprod:

- Linux machine, I was using a VM

- Add the custom fact: (exploitable.version: 1.9.5p1)

- Run the BARON SAMEDIT (SPAWN AGENT) chain

[2021-11-20 03:37] stephanwampouille opened #397 "Cannot delete agent deployment results when connected via redirector"
I wish I could delete deployment results on my redirector connected agent, like I can with any other agent.

[2021-11-20 03:59] stephanwampouille opened #398 "Duplicate redirector agent custom facts"
I was connected to my agent via redirector.

Reprod:

Create a custom fact, in this scenario I used chisel.port
- Enter in the key and value, then have it save.
- Go back into it clicking only into the value and editing it and ensuring it saves once more.
- Open the facts and see the both the original and new one.

[2021-11-20 04:04] stephanwampouille commented on #396
Any chains that requires a custom fact will reproduce this

[2021-11-21 13:43] privateducky commented on #397
This is an intentional decision, as when you're connected to the redirector it is the owner of your agents. This is a protective measure, allowing you to share your redirectors with your team without anyone having delete privs, which allows you to keep an accurate historical representation of your work.

Inside Operator, you can only delete agents which connect to your Operator instance.

If you o

[2021-11-21 13:43] #397 closed

[2021-11-22 09:05] w0rk3r opened #399 "Add support to Cleanup commands"
I believe this can be already on you guys roadmap, but it would be cool to see something like this in Operator.

Most use cases outside initial phases cause changes to the system that should be reverted, this would help in real envs as well as labs, and save a lot of time from manual cleanup.

[2021-11-22 11:47] privateducky commented on #399
Yes, this is on our roadmap. No timeline yet. We followed this approach on CALDERA awhile back:
- TTPs get a new, optional cleanup property with a command reversing itself
- Logic added to the platform which can execute these clean ups in reverse order post-operation.

We haven't added this functionality to Operator yet because we want to explore some alternative approaches, such as tying cleanup

[2021-11-22 11:50] privateducky commented on #392
Update: we've made some back end changes to make Operator faster than 1.2 on boot, these will get deployed in patch version 1.3.3 this week.

We're investigating one more potential win in this area before pushing the patch, through the use of electron-link and/or V8 snapshots.

More to come.

[2021-11-22 12:32] w0rk3r commented on #399
Cool!
I understand that the approach of adversary level cleanup cover more use-cases, but it would be cool to have something in TTP level, at least for me, it is handy to test and write detections and also Operator TTPs (Using the deploy command) without having to rdp or reverse shell to make it manually. Maybe a deploy cleanup button? It would be awesome

[2021-11-22 13:59] privateducky commented on #399
Yep, good to know. There's likely a multi-pronged approach for this - something at both TTP and adversary levels.

We've been letting this one mull a bit vs rushing into it because we take TTP-format changes pretty carefully - so as to not back ourselves into a corner ;)

If you have any thoughts or want to propose any TTP-level modifications, it'd be (more than) welcome. Just push a PR to the com

[2021-11-22 14:42] w0rk3r commented on #399
Sounds Awesome, David. I'll think a bit around this, then I'll open a PR for discussion, but I like the approach you guys used on Caldera.

[2021-11-22 14:47] privateducky commented on #391
fixed now

[2021-11-22 14:47] #391 closed

[2021-11-22 16:18] tr4cefl0w commented on #392
Updated to the latest and it fixed the issue. Thanks!

[2021-11-22 16:22] privateducky commented on #392
Perfect! I'll close this ticket once 1.3.3 comes out (today or tomorrow, hopefully). This update will improve the start up experience dramatically.

[2021-11-22 16:29] privateducky opened #400 "Updating modified TTPs from Editor throws a console error"
<img width="1816" alt="Screen Shot 2021-11-22 at 11 28 59 AM" src="https://user-images.githubusercontent.com/49954156/142898740-7faa8af1-1e5c-43f2-a005-9cdb6bb97412.png">

[2021-11-22 16:32] khyberspache opened #401 "Importing modified prelude TTP in editor hides delete button"
<img width="1512" alt="CleanShot 2021-11-22 at 11 32 20@2x" src="https://user-images.githubusercontent.com/43142871/142899160-59994a57-8866-4b11-ba7e-d013a37460a3.png">

Repro:
1. Export any Prelude TTP
2. Change UUID & name (add `test`)
3. Import TTP
4. Cannot delete TTP

[2021-11-22 17:55] lzimm commented on #398
this looks like nothing to do with redirectors, can reproduce locally

[2021-11-22 18:03] lzimm commented on #401
this is because the way we check if a TTP is a prelude TTP is via the `license` field inside metadata: we don't allow deletes of any licensed TTPs, as a proxy for not deleting prelude TTPs (which we do because they'll just be auto-updated on restart)

[2021-11-22 18:04] lzimm commented on #401
ie: remove the license from the TTP and you can delete, unfortunately this needs to happen pre-import.

[2021-11-22 18:14] lzimm commented on #401
fixed here to use `/stockpile` as our source of truth instead:

https://github.com/preludeorg/plugins/commit/2d000c548dd7703d99f7eb8b686eb96585535849

[2021-11-22 18:19] khyberspache commented on #389
the fact is getting created, this is an Operator bug

[2021-11-22 18:30] khyberspache commented on #390
global is available for the client side component of it

[2021-11-22 18:31] lzimm commented on #400
should be patched here:

https://github.com/preludeorg/plugins/commit/ee97338e028f8ef23cf9761cf52582a227af9bb8

[2021-11-22 18:34] khyberspache opened #402 "Enable chains to use specific facts or TTP variants"
Many chains require users provide facts to use we provide a few default values in the chain definition.

https://chains.prelude.org/chains/sharphound

has: `payload.uri: /discovery/bloodhound/SharpHound.exe`

it would be better if I could provide default values directly in the syntax of a ttp. For example:

[code]

[2021-11-22 19:01] #401 closed

[2021-11-22 19:02] privateducky commented on #389
Perfect - we're working on that fix right now, so it'll be in the 1.3.3 patch version.

[2021-11-22 19:03] privateducky commented on #390
Not sure I'm tracking here: @khyberspache are you saying that global is listed in Operator but not chains.prelude.org for this chain?

[2021-11-22 19:03] privateducky commented on #400
perfect, closing down as this'll be out in just a few minutes.

[2021-11-22 19:03] #400 closed

[2021-11-22 19:04] khyberspache commented on #387
https://github.com/preludeorg/professional/pull/153/files

[2021-11-22 19:20] khyberspache commented on #390
We globally support "bash" for some of these TTPs, so it shows up on chains website as global.

This chain consists of a server & client side. I will break them out into separate chains this week for the release

[2021-11-22 19:28] privateducky commented on #390
gotcha - great!

[2021-11-22 21:06] lzimm commented on #394
@privateducky this should have been fixed with one of the other result bugs, works fine for me now:

![image](https://user-images.githubusercontent.com/139388/142935293-d03352a4-b152-4be5-9eba-f7762873b983.png)

[2021-11-22 21:13] privateducky commented on #394
perfect. marking as 1.3.3 bug fix.

[2021-11-22 21:44] stephanwampouille opened #403 "supported chains for TTPs not showing in editor"
<img width="1395" alt="Screen Shot 2021-11-22 at 4 40 40 PM" src="https://user-images.githubusercontent.com/84744117/142939565-7f108673-fae8-44a3-bb4d-351d7b9f8c02.png">

[2021-11-22 21:45] stephanwampouille commented on #403
this one is part of training

[2021-11-22 22:31] lzimm commented on #403
that one isn't part of any chains: https://github.com/preludeorg/community/blob/master/ttps/exfiltration/ea713bc4-63f0-491c-9a6f-0b01d560b87e.yml

someone's gotta make that wire correctly if that's an ommission

[2021-11-22 22:52] privateducky commented on #403
:) I think that's what the bug is

it should be part of a few, last I knew. it should be referenced on this object in results_svc, which == our Operator chain clusters:
[code]

[2021-11-22 22:53] lzimm commented on #403
lol, no i mean the ttp itself doesn't have any chains specified in the metadata

[2021-11-22 22:58] privateducky commented on #403
ah, you're (understandably) mixed up: the chain clusters are essentially "potential chains" not existing ones. They aren't read from the TTPs - but are instead generated dynamically from the ATT&CK Procedures program and stored on HQ's technique_chains dictionary.

When you click on chain clusters from Editor, you're essentially checking this dict to see if there are any good ways to combine this

[2021-11-22 23:07] lzimm commented on #389
you'll need to wait until the new operator goes up (and the headless binary refreshes on outpost) but it looks like the operator side issues are fixed now:

![image](https://user-images.githubusercontent.com/139388/142948242-1ee837e9-416d-40a3-908a-5717f39e1a8e.png)

chain itself seems to be getting blocked on the other hand:

![image](https://user-images.githubusercontent.com/139388/142948276-3d5

[2021-11-22 23:07] lzimm commented on #389
back in your court @khyberspache :P

[2021-11-22 23:21] lzimm commented on #403
oh wow this changed around completely

[code]

how is this even supposed to work? do i need to pass in my entire attack DB now?

[2021-11-22 23:24] lzimm commented on #403
note: the endpoint we used to use for this before got changed a long time ago and i have no idea what the original logic was supposed to be doing

[2021-11-22 23:25] lzimm commented on #403
nm, i think i'm just going insane

[2021-11-22 23:32] lzimm commented on #403
can someone give me a spot check on what they THINK is supposed to get picked up for the file.io exil TTP?

[2021-11-22 23:47] privateducky commented on #403
This isn't perfect but you should see something to this effect.

For example (first line of output), file.io should get scooped up with all combos of T1074 and T1002 procedures (since file.io is a T1041).
[code]

<img width="907" alt="Screen Shot 2021-11-22 at 6 45 33 PM" src="https://user-images.githubusercontent.com/49954156/142951505-7400106a-f17f-4a9e-9f52-c5b4d5e8771e.png">

[2021-11-23 00:07] khyberspache commented on #389
Defender catching isn't a bug, closing

[2021-11-23 21:29] bwhack16 opened #404 "Dates Not Sorted Properly in Operate Tab"
The dates are not being sorted in order in the operate tab:
![image](https://user-images.githubusercontent.com/42819634/143132224-e74b80c2-ef9b-4f1b-9785-065144d3e4a1.png)

[2021-11-23 21:32] bwhack16 opened #405 "Payload Variable is being pulled from wrong port through redirector"
When running a procedure, the #{operator.payloads} variable is translating with the port 33303.

![image](https://user-images.githubusercontent.com/42819634/143132473-450c950d-6ab5-4485-86a6-294273197f02.png)

[2021-11-23 21:33] privateducky commented on #405
@lzimm how could this actually happen do you think?

[2021-11-23 21:34] khyberspache opened #406 "Cannot deploy TTPs through editor when agent is through Connect Redirector"
<img width="466" alt="CleanShot 2021-11-23 at 16 32 49@2x" src="https://user-images.githubusercontent.com/43142871/143132638-db2f023e-ddb3-4faf-927b-97b6a5269108.png">
<img width="272" alt="CleanShot 2021-11-23 at 16 34 05@2x" src="https://user-images.githubusercontent.com/43142871/143132713-9e9fcfed-00b0-43cb-b8a9-a67c7004d43d.png">

[2021-11-23 21:34] privateducky commented on #404
were you running through a redirector by chance? curious if time diffs between local/remote machines is causing this.

[2021-11-23 21:34] bwhack16 commented on #404
Yeah, all of the procedures were run through a redirector.

[2021-11-23 21:36] privateducky commented on #404
perfect. this will help identify the solution.

[2021-11-23 21:39] khyberspache commented on #405
I get random payloads too:
[code]

[2021-11-23 21:53] lzimm commented on #406
this was intentional to limit our surface area of things to go wrong. once we burn in redirectors a little more we'll look at re-enabling that, as there were a few little quirks that made things a little awkward (specifically around tracking instructions being completed)

[2021-11-26 15:42] stephanwampouille opened #407 "Changing operator IP to 0.0.0.0 crashes 'Connect' and 'Editor' on Windows"
Per @bartimus on discord:
Changing the Operator IP address within network settings to 0.0.0.0 will cause both 'Editor' and 'Connect' to crash. Clicking on them with hang indefinitely and both icons will disappear entirely upon restarting Operator.

console log after clicking into either plugin:
<img width="590" alt="image" src="https://user-images.githubusercontent.com/84744117/143604293-269ef85b-

[2021-11-29 17:27] khyberspache opened #408 "Add Chains to the Editor side navigator"
I can't search directly for chains by name in Editor have it reliably pull the chains. The new Operate section makes it impossible to see what the actual TTPs are or enable me to make edits.

I need to make modifications to chains as a whole and there is no way to do it in editor effectively

[2021-11-29 18:54] khyberspache opened #409 "Payloads should not be showing up in Provision Virtual Machine"
These payloads should not be showing up:
* Install chisel
* execute assembly
![CleanShot 2021-11-29 at 13 53 42](https://user-images.githubusercontent.com/43142871/143926102-32ce53bc-60e8-4f3a-8ead-4fc44bae001c.png)

[2021-11-29 20:25] privateducky commented on #409
@lzimm are these payloads marked as redirector purpose by chance?

[2021-11-29 21:10] lzimm commented on #409
I have no idea tbh. Obvious fix right :P

[2021-11-29 21:55] privateducky commented on #409
yep - that stands to reason!

[2021-11-29 21:56] privateducky commented on #409
This should self-heal in about an hour. @stephanwampouille can you confirm and close this if that's the case?

[2021-11-30 01:46] stephanwampouille commented on #409
Can confirm I am only seeing vulnerable.sh! Closing!

[2021-11-30 01:46] #409 closed

[2021-11-30 11:27] #392 closed

[2021-11-30 11:27] #393 closed

[2021-11-30 11:27] #394 closed

[2021-11-30 11:27] #395 closed

[2021-11-30 11:27] #396 closed

[2021-11-30 11:27] #398 closed

[2021-11-30 11:27] #403 closed

[2021-11-30 11:29] #404 closed

[2021-11-30 11:29] #406 closed

[2021-11-30 11:30] privateducky commented on #405
@lzimm we've still got some work to incorporate this change into Connect - but 1.3.3 is resolved for now, right?

[2021-11-30 11:33] privateducky commented on #402
Instead of:
[code]
why not just:
[code]
If you're confident in the fact value, I'd probably just create this as the first variant of the TTP.

[2021-11-30 11:35] privateducky commented on #258
@khyberspache bumping

[2021-11-30 11:42] privateducky commented on #316
The reason I've generally stayed away from typical REST API endpoint naming, for example GET /tasks, is that these tend to quickly get signatured and you need to swap it to something else, like GET /tasks-2, and you end up in a game of word changing.

nothing wrong with that but I've kept it out of CALDERA and Operator (for the most part) for this reason and opted to use just a flat / root URL wit

[2021-11-30 11:43] privateducky commented on #310
@khyberspache have you run into this / come up with any interesting work arounds?

[2021-11-30 11:48] privateducky commented on #259
"server less" with ngrok just means you don't own the server, ngrok does right? or is there a different approach I'm missing here?

[2021-11-30 11:48] privateducky commented on #259
@bfuzzy1 "server less" with ngrok just means you don't own the server, ngrok does right? or is there a different approach I'm missing here?

[2021-11-30 11:54] privateducky commented on #259
If someone wants to give this a run, I'd recommend starting with an ngrok plugin which installs/manages the ngrok binary and connection to their cloud service. that would give us a bit of a playground we could explore options more tangibly.

I'd be hesitant to add it to the core Operator platform, as it's a separate code base (not open source, right?) that we'd be accountable for - but a plugin wo

[2021-11-30 11:55] privateducky commented on #266
@khyberspache checking on this one, as it's been open for awhile. any plans to do this?

[2021-11-30 13:45] privateducky opened #410 "Planner plugin missing dependency"
Planner plugin throws console error about missing "express" library.

<img width="1168" alt="Screen Shot 2021-11-30 at 8 44 08 AM" src="https://user-images.githubusercontent.com/49954156/144058421-88ccb928-aeaa-4b33-bc8a-59c99a3e3475.png">

[2021-11-30 14:01] secdev-01 commented on #259
I tend to agree.  I wonder how many teams use ngrok?  If its just 1 or 2  teams, then it may not be priority.  There is a requirement that you would have to have a paid plan to take advantage of the features like ip filtering, custom domains and such. I like the plugin idea as well.

You can start a tunnel with ssh as well. https://ngrok.com/docs#ssh-gateway.

Which is nice to create a tunnel with

[2021-11-30 15:31] khyberspache commented on #258
@privateducky closing this as we have script-based agents for all platforms now (schism -> linux, jambi -> windows, hush -> macOS)

[2021-11-30 15:31] #258 closed

[2021-11-30 15:32] khyberspache commented on #266
@privateducky closing this as I don't want to sink any more effort into pneuma, we will focus on next flagship agent

[2021-11-30 15:32] #266 closed

[2021-11-30 15:39] khyberspache commented on #316
@privateducky to clarify a few things, the request here is to allow us to break up the components of the beacon into different formats.

Here's specifically what I want to do via Plugin:
1. Import a dirbuster list (https://github.com/daviddias/node-dirbuster/blob/master/lists/directory-list-2.3-medium.txt)
2. Have an "endpoint template" that lets you select what/how the beacons are formated
3. Ass

[2021-11-30 15:42] khyberspache commented on #310
@privateducky When I get around to building a version of "Builder" plugin for Operator (realtime payload compilation) this will resolve itself.

In the mean time, we could have Outpost take a flag to only recompile Agents every X hours which would solve this at the source

[2021-11-30 15:44] khyberspache commented on #408
@privateducky talked to Lewis. My current ask is add the Chains to the left hand sidebar and make the top-level (chains, tags, tactic) collapsible

[2021-11-30 15:45] khyberspache commented on #405
@privateducky confirming this is resolved by:
1. Readding Switchboard binary as option (instead of headless)
2. small patch to Connect plugin

[2021-11-30 15:45] khyberspache commented on #405
leaving open in case you want to track it

[2021-11-30 15:52] khyberspache commented on #402
This is way more nuanced than you might think, I'll try to explain what I'm encountering.

So I have 2 separate chains:
1. Sharphound (https://chains.prelude.org/chains/sharphound)
2. Vulnerable Certificates (https://chains.prelude.org/chains/vulnerable-certificates)

Both chains leverage the same first 2 TTPs:
1. Create an XOR byte - this works fine, chain independent
2. Ingress payload to XOR'd

[2021-11-30 15:53] privateducky commented on #316
Nice, that makes a lot more sense (dynamic paths vs static).

I could see eventually wrapping this into the network settings sidebar but great to prove this out in a plugins to start.

thx for the extra details!

[2021-11-30 15:53] khyberspache commented on #386
Verifying several of these TTPs need to be fixed.

[2021-11-30 15:54] khyberspache commented on #382
@privateducky I'm finding the "real" use case for those linux servers & windows servers is as external staging/resource/initial access systems.

It would be great to track them the way we do redirectors so I can see how many attack boxes I would have in my fleet.

[2021-11-30 15:54] privateducky commented on #310
Cool; slowing down our Outpost compile frequency seems like an easy win. Hourly is fairly aggressive. Not a burning issue, so I'll let this one mull for a bit longer.

[2021-11-30 15:55] privateducky commented on #408
yep, that's what I'd want as well.

[2021-11-30 15:55] khyberspache commented on #381
@privateducky option 2 is fine with me

[2021-11-30 15:57] privateducky commented on #405
awesome; I'll close this one down in that case. we'll be circling back on this in the coming weeks, to ensure Headless can handle the payloads appropriately. thanks for the confirmation.

[2021-11-30 15:57] #405 closed

[2021-11-30 16:04] privateducky commented on #382
gotcha; would FQDN of each be sufficient (with the ability to terminate them)? trying to find the appropriate line of functionality w/out becoming an AWS console :)

[2021-11-30 16:04] privateducky commented on #381
cool; I've got this on our docket for December.

[2021-11-30 16:06] khyberspache commented on #382
Yeah 100%, literally a list, with platform, and a delete button. Not functionality just a "here's what you have"

[2021-11-30 16:09] privateducky commented on #402
ah, glad you provided this example - that helps showcase what you're problem set is.

we're tracking a few other parallel areas with TTP order and extending planner blueprints into variants. this ticket would be good to match up with those for a more holistic approach to whatever we implement across these areas.

will keep this ticket updated as we look at this.

[2021-11-30 16:43] khyberspache opened #411 "Enable cross-range fact injection"
What I'm trying to do:
1. Launch Windows agent on Red range
2. Launch Chisel Server on system in Cloud range
3. Inject fact (`chisel.server: http://ec2-address:8443`) from Cloud agent/range into Red range
4. Red range agents use `chisel.server` fact to launch `chisel client` connection back to Cloud range server

[2021-11-30 16:58] lzimm commented on #410
my bad, should be patched here: https://github.com/preludeorg/professional/commit/44e2215d926c2b12cd4983d663e167558442bf7c

[2021-11-30 17:08] #410 closed

[2021-11-30 21:47] khyberspache commented on #386
https://github.com/preludeorg/professional/pull/161/files

[2021-11-30 21:47] #386 closed

[2021-12-03 19:25] stephanwampouille opened #412 "QA Baron Samedit (Spawn Agent)"
tested on AWS linux VM through redirector connection.

1. My main takeaway is to possible rewrite the 'COMPARE SOFTWARE VERSIONS FOR EXPLOITATION' TTP as there is no dpkg already installed or a readily available for AWS linux. With that being said, this ttp will fail and in turn will cause the chain to fail as the fact is creates is needed next for 'Spawn elevated pneuma via CVE-2021-3156'

[2021-12-03 19:30] stephanwampouille opened #413 "QA Baron Samedit (Persistence)"
tested on AWS linux VM connected through redirector.

1.) Same dpkg stuff as https://github.com/preludeorg/operator-support/issues/412

2.) after installing python3 i get the following error running 'CREATE ROOT USER IN /ETC/PASSWD VIA CVE-2021-3156
' ttp:
<img width="732" alt="Screen Shot 2021-12-03 at 2 29 58 PM" src="https://user-images.githubusercontent.com/84744117/144661755-ced8e4e3-7552-4a1

[2021-12-03 19:33] stephanwampouille commented on #413
still working on this one, but wanted to document as I continue

[2021-12-03 23:07] stephanwampouille opened #414 "QA B1-66ER (Initial Access)"
need to update schism payload to include sleep parameter

[2021-12-08 17:19] stephanwampouille opened #415 "Fluently transition account icon"
Upon startup of Operator there is the following transition of account icons, which I think we should look at doing better
https://user-images.githubusercontent.com/84744117/145253507-c397b55e-3c57-4e0e-a7ef-47b3d6b7d20b.mov

[2021-12-10 18:31] privateducky commented on #149
I think all we need to do on this one is allow ```agents.js:recordResults()``` to accept an arbitrary link.

Right now, it relies on a link being created before the instruction is sent to the agent and we apply the results to the already created link. If we additionally allow an arbitrary link to be created in this function, an agent can report new results anytime.

[2021-12-13 18:21] privateducky commented on #380
If possible, try and knock out this at the same time while we're in the plugin code:
https://github.com/preludeorg/operator-support/issues/381

[2021-12-13 20:29] lzimm commented on #296
solving this via the updates proposed here: https://github.com/preludeorg/operator-support/issues/295#issuecomment-992866469

[2021-12-13 23:48] w0rk3r commented on #295
That sounds nice @lzimm

[2021-12-15 12:49] privateducky commented on #415
@stephanwampouille the link here isn't rendering for me.

Is this ticket referring to the weird-looking icon when you first open Operator? Like how it expands/contracts on load?

[2021-12-15 12:50] privateducky commented on #414
Circling on this: @Xanthonus looks like you're on this one?

[2021-12-15 12:50] privateducky commented on #413
@stephanwampouille what's our status here?

[2021-12-15 12:50] privateducky commented on #412
@khyberspache what are your thoughts on this one?

[2021-12-15 12:53] privateducky commented on #411
@khyberspache refresh my memory: did you end up with a solution for this?

there are a few ways to accomplish this type of cross-range/global fact usage, with the question being which is the most natural way to do it.. I do want to consolidate a "global" fact usage inside the app which is likely the most natural way to handle this sort of thing in the future though.

Depending on your answer, I ma

[2021-12-15 13:55] privateducky commented on #408
**Update**: This is still a pre-1.4 priority item for us. We've made some major updates to the Operate section, related to searching/viewing of adversaries and chains. The last piece to this puzzle is the incorporation into the Editor section which we'll be working on next.

[2021-12-15 13:57] privateducky commented on #407
We've had a report of this on Mac as well.

We will have a fix in place for 1.4 but if anyone needs a patch ahead of time, just let us know.

[2021-12-15 14:36] stephanwampouille commented on #415
@privateducky Oh i attached a video showcasing it, but no. Trying to reproduce now I can't so I might have been a little too eager with this one! Closing.

[2021-12-15 14:36] #415 closed

[2021-12-15 14:38] stephanwampouille commented on #413
@privateducky No further update, those were the only two critics that I had with this chain. The main takeaway I believe is to look at #412 as it ties in with this one

[2021-12-15 14:53] privateducky commented on #413
ok cool. @khyberspache anything actionable you want to do on this ticket?

[2021-12-15 18:50] stephanwampouille opened #416 "Cannot re-import same plugin immediately"
after importing a plugin and deleting it, you cannot re import the plugin until after you click out of the section and back in

[2021-12-15 18:51] stephanwampouille opened #417 "Cannot delete invalid plugins"
When importing a plugin that isn't valid, the delete icon will not show. Thus having to either re-import the plugin or manually delete it via workspace.

[2021-12-16 19:15] privateducky commented on #296
This change will be reflected in 1.4.

[2021-12-16 19:15] privateducky commented on #295
This change will be reflected in 1.4.

[2021-12-16 19:16] privateducky commented on #417
Can you post an example bad plugin?

Hard for me to visualize how to re-create this.

[2021-12-17 17:58] stephanwampouille commented on #417
@privateducky So if you make a new plugin .html and just put
`<script>
    function blah
</script>
`
Which won't work right, but  It will still get imported and will stay in the plugin section with no tray to delete. Even if you restart Operator it will remain. The only way to delete it is via the user's workspace.

[2021-12-18 18:23] gerbsec opened #418 "Feature Request: Vim mode"
Hey, while using the editor in Operator I noticed that vim mode is not a feature that is available. I believe that vim allows a lot of professionals to become more effecient when writing their code, whether its a TTP or a payload, it does speed up operations. I understand that its not top priority, but I do believe it should be added eventually.

[2021-12-21 11:26] privateducky commented on #408
@lzimm before we move our current dev iteration of this into prod (i.e., list the chains like the adversaries) we should formulate a plan for how this area will expand with 1+ chains per week. We can likely get ahead of it by creating a sub-menu on the left sidebar for chains, where they're organized first by release MONTH/YEAR, then names.

[2021-12-21 12:29] bartimus-primed commented on #416
I will start working on this.

[2021-12-21 12:35] privateducky commented on #416
Assigned it over to ya.

[2021-12-21 14:10] bartimus-primed commented on #416
This should fix it. submitted a pull request:
https://github.com/preludeorg/operator/pull/2487

[2021-12-21 14:50] bartimus-primed commented on #417
working on this.

[2021-12-21 16:12] bartimus-primed commented on #417
fixed in https://github.com/preludeorg/operator/pull/2488

[2021-12-21 17:56] privateducky commented on #407
this is still open

[2021-12-22 22:54] sthomps opened #423 "Connect a redirector icon isn't rendering correctly on 1.3.3"
![Broken icon](https://user-images.githubusercontent.com/813716/147163963-84d430d9-3050-41eb-bd62-ab078275927a.png)

[2021-12-23 17:43] sthomps opened #424 "Edge case exists where token becomes invalid"
<img width="350" alt="CleanShot 2021-12-23 at 09 42 03@2x" src="https://user-images.githubusercontent.com/813716/147275270-34911270-9278-4210-a9c1-111e318486ab.png">

[2021-12-23 19:25] sthomps commented on #424
Logging out and then in fixed this. It seems like I had an invalid token likely due to bad token refresh.

[2022-01-03 20:04] lzimm commented on #424
not perfect, but when we fail to load the full attack schema from HQ, i'm building a local version from your on-disk attacks as a placeholder instead:

https://github.com/preludeorg/plugins/commit/d72b8671e4d3d680c192f59a52f29f59f679019d

[2022-01-03 20:09] lzimm commented on #423
@sthomps can you copy and paste what you see inside of your `config.yml` file for the switchboard plugin? (ie: `cat ~/Library/Application\ Support/Operator/login.prelude.org/plugins/Switchboard/config.yml`)

that should be getting automatically deleted, unless you don't actually have one that's marked as "native" for some reason.

[2022-01-03 21:23] #424 closed

[2022-01-04 14:52] #387 closed

[2022-01-04 15:01] khyberspache commented on #390
I used staging server regularly, so this is g2g from my side

[2022-01-04 15:07] khyberspache commented on #412
I haven't checked if this exploit chain would work on a Fedora-based linux version like this, I only checked on a Debian system.

There are 2 core problems here:
- The compare versions step is an artifact of not being able to do any server-side (operator) side processing of data.
- We use "Linux" to encompass Unix and numerous *nix distros (which is inaccurate)

I don't think it's worth trying to

[2022-01-04 15:08] khyberspache commented on #413
@privateducky Check my comment in 412. Other than that, the system isn't vulnerable so that is a valid failure state

[2022-01-04 15:08] #413 closed

[2022-01-04 15:14] khyberspache commented on #414
fix here https://github.com/preludeorg/community/pull/275

[2022-01-04 15:14] #414 closed

[2022-01-04 15:57] stephanwampouille commented on #390
My only issue with this one is still the same. It gets skipped entirely on windows, and on the chains.prelude website the platform is indicated as global.

[2022-01-11 02:19] privateducky commented on #423
@sthomps are you still seeing this? would like to solve this for 1.4 if we can.

[2022-01-11 02:20] sthomps commented on #423
oh whoops, let me try. sorry i didnt see the original

Spencer Thompson

Founder
Sokanu
***@***.***
604.349.1256

On Mon, Jan 10, 2022 at 6:19 PM, david < ***@***.*** > wrote:

[2022-01-11 02:58] sthomps commented on #423
<img width="1390" alt="CleanShot 2022-01-10 at 18 58 12@2x" src="https://user-images.githubusercontent.com/813716/148873580-8e518433-d652-43ea-8a8c-5e7e9aadda73.png">

This is what I see now (I haven't copied/pasted Lew's code yet).

[2022-01-11 02:59] lzimm commented on #423
looks like its gone right?

[2022-01-11 03:00] sthomps commented on #423
exactly. thank you!

[2022-01-11 11:17] #423 closed

[2022-01-14 18:30] stephanwampouille opened #426 "Feature Request: Provide feedback when upgrading Operator versions"
Right now when you click update to new version, there is no set notification or download % of Operator grabbing the latest version. This leaves you questioning if it already upgraded or failed to upgrade. After about 15s or so you will receive another prompt asking to install, then it refreshes and you have latest version. I think we should be a bit more clear on the process to mitigate any confus

[2022-01-14 19:59] privateducky commented on #426
Agreed. There's a slowness to this which is pretty variable (1-20s I've seen!). We can address this.

[2022-01-14 22:12] kernelzeroday opened #427 "Operator 1.3.3 ART Plugin execution issue"
When running ART plugins it looks like the {variables} are not getting replaced.

[code]

[code]

![image](https://user-images.githubusercontent.com/11334159/149592018-4a265080-5476-48dd-85f9-83ad1740e1bb.png)

[2022-01-14 22:12] khyberspache opened #428 "Headless redirector backwards compatibility issue"
Redirectors provisioned in 1.3 will not work in 1.4 without a manual configuration change to `settings.yml`.

The issue is:
[code]
which needs to be updated/changed to:
[code]

[2022-01-14 23:04] lzimm commented on #428
should be fixed here: https://github.com/preludeorg/plugins/commit/9c05334658c7ad265da235a2f857579cd9033dee

[2022-01-15 12:27] #149 closed

[2022-01-15 12:27] #295 closed

[2022-01-15 12:27] #296 closed

[2022-01-15 12:27] #316 closed

[2022-01-15 12:27] #366 closed

[2022-01-15 12:27] #370 closed

[2022-01-15 12:27] #380 closed

[2022-01-15 12:27] #381 closed

[2022-01-15 12:27] #407 closed

[2022-01-15 12:27] #408 closed

[2022-01-15 12:27] #416 closed

[2022-01-15 12:27] #417 closed

[2022-01-15 12:29] #411 closed

[2022-01-17 00:01] privateducky opened #429 "Connect plugin not provisioning "vulnerable.sh" script on test machine"
Reported in the "CTF" Discord channel.

The current workaround is to manually upload + run the payload on the machine.

[2022-01-17 00:01] #428 closed

[2022-01-20 13:00] w0rk3r opened #430 "Feature Request: Bulk export TTPs"
A way to bulk export TTP files now that they are encrypted in disk would be awesome.

@privateducky I think you once mentioned a script that could do this task

[2022-01-20 13:07] privateducky commented on #430
Yep! In 1.5, we're aiming to launch a whole new way to approach TTPs/payloads which will include working with them in bulk.

In the meantime, you can write a plugin which does a bulk decrypt using this snippet:
[code]

[2022-01-24 17:50] khyberspache opened #431 "Payload requests through Headless render incorrectly when using HAProxy"
Example:
`http://ec2-address/prefix:3391/payloads/powershell/ImportActive-Directory.ps1`

Repro:
1. Launch Redirector w/ HAProxy
2. send Agent to HTTPS endpoint
3. Send TTP with payload

[2022-01-24 21:22] khyberspache commented on #431
Fix in-flight to Production

[2022-01-27 16:46] khyberspache commented on #431
Fixed in 1.4.2:
- https://github.com/preludeorg/operator-support/releases/tag/1.4.2

[2022-01-27 16:46] #431 closed

[2022-01-27 16:49] olafhartong opened #432 "Feature Request: Payload importing"
It would be great to be able to import payloads via:
* the yaml/git import
* the API

[2022-01-27 16:54] olafhartong opened #433 "Feature Request: Duplicate TTPs per chain"
I'd like the ability to add multiple versions of the same TTP to a chain.
For example;
* a sleep TTP to control delays between certain TTPs to closer mimmic an attacker doing it.
* to add variants of the same TTP to one chain for more granular testing

[2022-01-30 14:29] privateducky commented on #418
Update: we're making some big adjustments starting in version 1.5 around the ability to edit/manage TTPs. As such, Editor as it stands today will be going through a metamorphosis and vim support won't be provided in the new direction we're going.

What we're pushing toward, is meeting people where they currently work, in the IDEs of choice. We're evaluating different IDE solutions to consider plug

[2022-01-30 14:29] #418 closed

[2022-01-30 14:31] privateducky commented on #374
The theme change plugin is now dead. We have made the theme in 1.4 much brighter - and 1.5 will continue this trend of making things more accessible.

[2022-01-30 14:31] #374 closed

[2022-01-30 14:31] privateducky commented on #427
This will be resolved in v1.5.

[2022-02-01 03:07] khyberspache opened #434 "Terminating redirectors in other regions (not us-east-1) throws an error"
<img width="347" alt="CleanShot 2022-01-31 at 22 06 37@2x" src="https://user-images.githubusercontent.com/43142871/151907471-4184a313-1dde-42d1-8adb-6264d23d6991.png">

[2022-02-01 03:21] khyberspache opened #435 "[WORKAROUND PROVIDED] HTTPS causes issue with payload fact rendering"
If you are using HAProxy to do TLS termination via the redirector, payloads will render incorrectly. We will have this fixed for 1.5, but in the mean time if you want to use HTTPS, follow these instructions:

1. Download this file to your system with Operator running: [HTTPSPatch.html.zip](https://github.com/preludeorg/operator-support/files/7975650/HTTPSPatch.html.zip)
2. Install the plugin in Op

[2022-02-03 10:14] ajpc500 opened #436 "Feature Request: Execute TTP Variant with API"
A technique's variants can currently be executed via the UI, but not via the API.

[2022-02-03 11:09] privateducky commented on #436
Good ask. This has been on my mind lately - I want to create a more fluid way to select variants for TTPs from within the UI, which would naturally work for the API as well.

In the API today, you can pass in either a TTP identifier (UUID) or the contents of a full YML file itself (swagger snippet below). This would require reordering the YML file "by hand" before submitting it to the endpoint, wh

[2022-02-03 17:43] khyberspache opened #437 "Redirectors randomly crash with `Error: read ECONNRESET`"
Headless/redirectors will randomly crash as a result of a TCP connection reset somewhere. We don't have reproduction steps for this yet.

Only error log we have is:

[code]

[2022-02-03 17:46] khyberspache opened #438 "Spawning reverse shell fails on newly provision redirectors, requiring Operator restart"
Reverse shell is not functional through redirectors (seemingly) when they are first created:

1. Create redirector
2. Connect to it
3. Spawn reverse shell
4. Agent runs TTP
5. No callback received

![image](https://user-images.githubusercontent.com/43142871/152398986-848f1bc5-5635-4169-8d4e-81e2d2b94957.png)

Now fixes via Operator restart:

1. Restart operator connect to redirector
2. re-run reve

[2022-02-11 13:03] privateducky commented on #437
Will be resolved in 1.5.

[2022-02-11 13:03] privateducky commented on #438
Will be resolved in 1.5.

[2022-02-11 13:04] privateducky commented on #429
We will be deprecating vulnerable.sh/ctf in version 1.5, making this irrelevant.

[2022-02-14 16:40] khyberspache opened #439 "Forwarded ports from Operator -> Redirector can crash redirector"
1. Create new redirector
2. Go to account settings -> network -> set HTTP port to 8089
3. Connect to redirector via connect
4. run nmap -p 22,8089,2323 <redirector ip>

Crash

[code]

[2022-02-14 16:41] khyberspache opened #440 "Trying to assign Redirector to already used port breaks Redirector"
1. Create redirector
2. Change port to 8089 (in connect)
3. Change port back to 3391 (in connect)

Redirector crashes

[code]

[2022-02-14 21:41] khyberspache opened #441 "Redirectors do not work if you use an IP instead of DNS"
1. Create redirector
2. Relaunch redirector with IP instead of DNS as hostname
3. Swap DNS name in Settings.yml with IP
4. Operator will temporarily connect to redirector then drop connections

[2022-02-15 13:37] khyberspache opened #442 "Editor plugin instructions icon hover collides with chain UI element"
<img width="236" alt="CleanShot 2022-02-15 at 08 35 24@2x" src="https://user-images.githubusercontent.com/43142871/154072882-c9f78f30-c95a-41ea-af85-6a43b8780652.png">

[2022-02-15 14:19] sintax1 opened #443 "Feature Request: Azure redirector provisioning"
Similar to AWS and GCP, support for provisioning Azure redirectors would be appreciated.

- Navigate to "Connect" in Prelude Operator
- Select "Provision a New Redirector"
- Prompt for Azure configuration parameters
  - Provider: "Azure"
  - Tenant ID
  - Subscription
  - App ID
  - Secret
- Retrieve available resource groups & prompt user for selection
- Prompt for VM Name
- Deploy

[2022-02-16 10:55] sintax1 commented on #310
+1 vote for a "Builder" plugin for Operator (realtime payload compilation).

In addition to binary compilation, it would be nice to have for dynamic document generation using facts (e.g. phishing attachments).

[2022-02-16 14:20] khyberspache commented on #310
@privateducky If we go the route of my Payload building service (supporting outpost + customer submitted builds) we can knock out this issue.

Plus then I get to build some cool infrastructure

[2022-02-16 14:31] privateducky commented on #310
LOL. Yes, we most definitely will be doing work in this direction. I'd anticipate it being a Q2 initiative for us though, as we'll be ramping up our systems team in that time frame.

[2022-02-16 17:47] w0rk3r opened #444 "[Bug] Non-Existent TTP submitted via API blocks the agent queue"
When you submit an TTP id via the Operator API that doesn't exist, it doesn't return a error, rather it break the agent ability to execute any action, even if the queue is cleared.

I think checks for this could be implemented to solve the problem.

Steps to reproduce:
* Use swagger/python to submit a random TTP ID that doesn't exist on Operator

Tested with PneumaEX

[2022-02-17 20:31] sintax1 commented on #432
+1 !

[2022-02-18 13:58] privateducky commented on #444
@bartimus-primed know if this'll cause an issue on the /v1 API coming out with 1.5?

[2022-02-18 14:01] privateducky commented on #442
because of the changes to TTP editing in 1.5, this will be closed upon release.

[2022-02-18 14:03] privateducky commented on #439
@lzimm let's remember to circle on this topic when we're testing Connect for 1.5.

[2022-02-18 14:04] privateducky commented on #436
This is now in flight and will be available in 1.5.

[2022-02-18 14:06] privateducky commented on #430
The way to handle this in 1.5 will be over the API. Note the /ttps endpoint(s) in the upcoming documentation: https://github.com/preludeorg/community/blob/master/docs/operator/advanced/api.md

[2022-02-18 14:40] privateducky commented on #402
@khyberspache I believe our 1.5 variant strategy - which wasn't intended to solve this ticket in particular - may end up addressing it.

In 1.5, you'll be able to define a chain like this (snippet):
[code]

Read: TTP identifier (for usual handling) or include platform:executor:variant (0=top level) to specify an exact match to use.

[2022-02-18 16:10] ajpc500 commented on #436
Fantastic, cheers!

[2022-02-18 21:18] khyberspache commented on #402
ooooh interesting

[2022-02-18 22:14] khyberspache commented on #441
Could impact team environments as well (if someone tried to add the ip)

[2022-02-19 02:28] bartimus-primed commented on #444
I can check, I had tried to ensure all api calls fail gracefully. Ill take a look.

[2022-02-19 03:13] bartimus-primed commented on #444
Yeah I checked, this effects 1.5. Submitted a PR to check this.

[2022-02-19 11:00] privateducky commented on #444
Great!!

[2022-02-19 16:57] privateducky commented on #432
New payload API documented here, coming in 1.5: https://github.com/preludeorg/community/blob/master/docs/operator/advanced/api.md

[2022-02-20 17:16] privateducky commented on #444
Fixed in 1.5. This endpoint will also return the instruction IDs that were queued up for each agent.

[2022-02-20 17:20] privateducky commented on #283
I've been thinking on this one for awhile. We did it the way you describe in Caldera but there are some cons to that approach, primarily the assumption of where you want the new agents to start in the operation (beginning or a specific part of the kill chain).

I think we can address this when we add "chain of chains", as the break between chains could be the ideal point to re-check which agents s

[2022-02-20 17:26] privateducky commented on #283
Chain of chains may be coming sooner vs later btw because of how we'll be addressing scheduling soon.

[2022-02-20 20:06] w0rk3r commented on #444
Nice, great work guys ;)

[2022-02-22 01:05] clr2of8 opened #445 "Source buttons don't load source code (windows version v1.4.2)"
I click the "Source" button for agents and it flashes a tab on my browser but doesn't go anywhere. My default browser is Chrome on Windows)

![image](https://user-images.githubusercontent.com/22311332/155044706-40222e7f-72b2-4996-9f41-77f5f7883eb0.png)

[2022-02-22 02:03] privateducky commented on #445
@stephanwampouille can you check on this tomorrow?

[2022-02-22 02:56] stephanwampouille commented on #445
Tested on my Windows machine, using chrome as default browser as well. Works as intended for me, the source button will open a windows browser but will automatically prompt the file to download. The new tab will then close itself if you had a browser already open. Is nothing being downloaded for you @clr2of8 ?

[2022-02-22 03:51] clr2of8 commented on #445
where would it be downloaded to?

[2022-02-22 03:57] clr2of8 commented on #445
Ha Ha, yeah, never mind, I never noticed that it was downloading stuff. It's working.

[2022-02-22 03:57] #445 closed

[2022-02-22 04:03] stephanwampouille commented on #445
Woohoo Awesome!

[2022-02-22 19:16] olafhartong commented on #432
this is looking great team! can't wait to test this!

[2022-02-24 14:52] khyberspache commented on #434
This is still broken in PROD, unless you're referring to DEV

[2022-02-28 22:18] clr2of8 opened #446 "Question: Should Vectr plugin send Targets to Vectr API?"
The Targets are blank on test cases sent from Operator to Vectr but I would expect that information could/would be sent along with all the other info and automatically filled in.

![image](https://user-images.githubusercontent.com/22311332/156067835-26bc61f7-a0cd-4990-a843-c903d18d125a.png)

[2022-03-01 18:21] khyberspache commented on #446
I haven't set it up to export that data. The Vectr API would need to support that field, which I haven't dug into. @thebluecheese might be able to answer that

[2022-03-01 18:47] thebleucheese commented on #446
the test case data inputs in the API currently allow you specify targets and sources while creating test cases

`targets: [String!]
 sources: [String!]`

If you have that data while you're creating the test cases, you can just add them there.

[2022-03-01 21:49] khyberspache commented on #446
When passing in the 1 target should it be an array with a single sting  or string

[2022-03-04 05:00] khyberspache commented on #446
Will be available in 1.5:
- https://github.com/preludeorg/community/pull/386

[2022-03-04 13:43] clr2of8 commented on #446
Excellent. Thank you!

[2022-03-15 17:04] n2vi opened #448 "Feature request: Show version number"
It is customary to have an "About" item in one of the menus, often Help, which displays things like version numbers, whether updates are available, subscription type, perhaps even connectivity status to HQ.

If you (or an enterprise security team internally) are trying to assist a novice, this will help with one of the first questions when level-setting over the phone.

Probably should be assigned

[2022-03-16 11:03] privateducky commented on #448
Absolutely! In 1.5, we'll be exposing some of that information in the title bar (see below). Thanks for noting the ticket around upgrades - because having some sort of 'updates available' messaging that works well with the ask there makes a lot of sense.

Starting in 1.5, we'll be supporting multiple versions (for the first time). So instead of a forced upgrade, you'll have a choice of when to do

[2022-03-16 11:05] privateducky commented on #443
Update: Starting in 1.5, it'll be much more apparent how to stand up redirectors in any environment. We'll still only have support for AWS/GCP automatically but we've simplified the process for people to just deploy manually anywhere. More to come.

[2022-03-16 11:06] privateducky commented on #434
@lzimm you know the status on this by chance (in dev)?

[2022-03-16 11:08] privateducky commented on #310
@khyberspache given today's strategy on agent building, where do you think we stand on this ticket?

[2022-03-16 11:09] privateducky commented on #259
closing, as we haven't had a big push for ngrok plugins. wouldn't mind re-opening if this becomes of interest!

[2022-03-16 11:09] #259 closed

[2022-03-16 11:09] privateducky commented on #390
@khyberspache update on this ticket?

[2022-03-16 11:10] #412 closed

[2022-03-16 11:11] privateducky commented on #426
@lzimm this is a pretty easy ticket to knock out - but this has been a historically tough area for us to test. do you have a good test set up for this process by chance?

[2022-03-16 13:24] stephanwampouille commented on #434
will do

[2022-03-16 15:35] lzimm commented on #434
i think it got fixed the other day actually, via: https://github.com/preludeorg/community/pull/396

[2022-03-24 02:50] stephanwampouille commented on #426
@privateducky , I tested using the builds provided to me by @jpmoss after merges by @lzimm were made and it worked perfectly.

[2022-03-24 02:51] #426 closed

[2022-03-24 10:48] privateducky opened #449 "Record mic TTP not working as expected (darwin)"
RECORD ROOM AUDIO USING MICROPHONE TTP isn't work as expected

_Originally posted by @khyberspache in https://github.com/preludeorg/operator/issues/2556#issuecomment-1012238322_

[2022-03-24 11:17] w0rk3r opened #450 "[Feature Request] Dynamically-Compiled Payloads"
It would be nice to compile at least Csharp code as it is done on the Caldera Builder plugin. Currently, distributing custom binaries across the team, uploading them, debugging, and adding functionality requires way more effort than it could if we had similar functionality.

https://caldera.readthedocs.io/en/3.1.0/Dynamically-Compiled-Payloads.html

[2022-03-24 11:20] privateducky commented on #450
Yep, definitely on our list!

Lucky for us, @khyberspache wrote that builder plugin ;) and has some ideas for how to do a version of it for Operator.

We've been using a dynamic payload compiling feature on our backend, to supply the Operator payloads we create. But we need to move that behind an API or similar to allow others to start using it as well.

More to come on this topic.

[2022-03-24 11:23] w0rk3r commented on #450
Yeah, I think I talked with Alex about this last year, but now it is definitely on my wishlist, hehe

Looking forward to it!

[2022-03-24 11:25] privateducky commented on #450
As a predication; I'd look for this in the v1.7-v1.8 time period.

[2022-03-29 12:06] stephanwampouille opened #451 "Cannot access a TTP's attack chains in Editor"
When trying to access a TTP's associated attack chains in editor we get the following error. Im assuming we have renamed or removed this endpoint.
<img width="393" alt="Screen Shot 2022-03-29 at 7 59 52 AM" src="https://user-images.githubusercontent.com/84744117/160607042-4ef1c185-4c92-4a65-8c79-7ec7138a887a.png">

[2022-03-31 11:14] #283 closed

[2022-03-31 11:14] #402 closed

[2022-03-31 11:14] #427 closed

[2022-03-31 11:14] #430 closed

[2022-03-31 11:14] #432 closed

[2022-03-31 11:14] #433 closed

[2022-03-31 11:14] #435 closed

[2022-03-31 11:15] #436 closed

[2022-03-31 11:15] #437 closed

[2022-03-31 11:15] #438 closed

[2022-03-31 11:15] #440 closed

[2022-03-31 11:15] #442 closed

[2022-03-31 11:15] #444 closed

[2022-03-31 11:15] #446 closed

[2022-03-31 11:15] privateducky commented on #310
@khyberspache bump on this. whatcha want to do?

[2022-03-31 11:16] privateducky commented on #382
This will be handled (most likely) in 1.6, as we'll be focused on AWS/cloud integration points.

[2022-03-31 11:17] privateducky commented on #390
@khyberspache bump on this topic.

[2022-03-31 11:17] privateducky commented on #434
@stephanwampouille can you test if this was resolved via 1.5?

[2022-03-31 11:18] privateducky commented on #441
we didn't treat this explicitly in 1.5, so I'd assume this is still outstanding. I know you looked at this @lzimm .. any insights?

[2022-03-31 11:21] privateducky commented on #443
Update: 1.5 is now released. It should be more apparent how to deploy redirectors against any cloud now, via "manual redirectors".

This allows you to pop a redirector up in any cloud environment.

All automated cloud integration points have moved to the enterprise license starting in 1.5. We will be looking at (automatic) Azure integration at that level but since you can now deploy redirectors on

[2022-03-31 11:21] #443 closed

[2022-03-31 11:22] privateducky commented on #448
Closing, as version number is now available in version 1.5. Let me know of any concerns/issues!

[2022-03-31 11:22] #448 closed

[2022-03-31 11:22] privateducky commented on #449
@khyberspache can you take over this ticket?

[2022-03-31 11:23] privateducky commented on #451
closing, as this is no longer an issue in 1.5.

[2022-03-31 11:23] #451 closed

[2022-03-31 11:23] privateducky commented on #450
Update: 1.5 was just released yesterday. this ticket was not in that release (as predicted) but know it's still on our radar.

[2022-03-31 14:31] #449 closed

[2022-04-03 18:01] VVX7 opened #452 "Add advanced search filters"
Without search filters it's difficult to find ttps and chains unless you already know what you're looking for.

Previously we had search filters like `platform` to help narrow down results.  If the search is the only interface to browse ttps then it needs to facilitate exploration rather than assume the user knows what exists.

Advanced search should have the filters for:
- tactic
- technique
- pl

[2022-04-03 18:28] privateducky commented on #452
A few other to consider:
- author
- release date
- theme

[2022-04-03 18:30] privateducky commented on #452
@VVX7 one question: in 1.4, the advanced search filters were an often overlooked feature (we got "oh, I didn't know that was there!" often). likely because we didn't place much prominence on the tooltip. any thoughts on where/how you'd handle that in 1.5?

[2022-04-03 19:06] VVX7 commented on #452
@privateducky  I'd drop a high visibility "advanced" button in the search bar itself. Clicking on it should drop down a list of filters and examples, and stay open as the user builds their query, closing automatically when the search is executed. Persisting the last advanced search would be useful since the user might not get it in one.

It would be a huge quality of life improvement if you could

[2022-04-03 19:44] VVX7 opened #453 "Add search boolean operators"
Exploring ttps/chains using a single filter is inefficient when the search returns many results. ex. `platform:windows`

The chain search should support basic boolean operators on filters to make it easier to find relevant chains. ex. `platform:windows AND NOT (tag:destructive OR tag:yolo)`

Supported booleans should include:
- AND
- OR
- NOT
- parentheses for order for operation

[2022-04-04 15:53] khyberspache opened #454 "API Docs have incorrect curl commands"
<img width="706" alt="CleanShot 2022-04-04 at 11 53 58@2x" src="https://user-images.githubusercontent.com/43142871/161583393-b1806f95-acb8-4c0e-96ed-70ce0057d2e5.png">

[2022-04-04 16:16] khyberspache opened #455 "Cloud provisioning on account fails with error 400"
Attempting to provision was failing with an error 400

[2022-04-04 16:20] ajpc500 opened #456 "Payload API endpoint doesn't return data"
Attempting to retrieve payloads that have been uploaded results in a list of 'null's being returned.

Uploading subsequent payloads results in this list increasing in size, i.e. `[ null, null, etc. ]`, potentially a referencing issue?

Testing on a Windows 10 build running Operator, having upgraded from 1.4 (with factory reset).

[2022-04-04 17:59] aterribleloss opened #457 "Login on Linux fails unless stepped though in the debugger"
Operator on, `Pop!_OS 20.04 LTS` (an `Ubuntu 20.04` derivative), fails to login, unless stepped though via the debugger.

When attempting to login, Operator will sit on the loading screen.  Based on some initial debugging it seem as though it isn't getting a response from HQ.

Breakpoints were set at the following:
* `requests.js` on line `50`
* `requests.js` on line `53`
* `core.js` on line `27`

[2022-04-04 19:43] lzimm commented on #455
it looks like this is broken because we're failing to locate `cb01547d2ad40c544cfbb69e6f08158a312256eb/headless`

which itself is referenced by: https://github.com/preludeorg/community/blob/master/ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml

[2022-04-04 19:43] lzimm commented on #455
@jpmoss can you check to make sure that the headless binary is up on the 1.5 outpost?

[2022-04-04 19:48] jpmoss commented on #455
It is but not in `cb01547d2ad40c544cfbb69e6f08158a312256eb`. Fixed now.

[2022-04-04 22:56] stephanwampouille commented on #455
I haven't been able to reprod the error 400 but I have been unsuccessful in trying to connect to a redirector that I deployed via AWS on Connect.

[2022-04-05 10:20] #454 closed

[2022-04-05 10:21] privateducky commented on #452
Combining https://github.com/preludeorg/operator-support/issues/453 into here.

The scope of this ticket can be: upgrades to our TTP search function (in general). We'll spec these out for a future release. But in the meantime, plug any thoughts/requests here to track.

[2022-04-05 10:21] privateducky commented on #453
combining this into https://github.com/preludeorg/operator-support/issues/452

[2022-04-05 10:21] #453 closed

[2022-04-05 12:26] ajpc500 commented on #456
Not sure if this warrants a separate issue, but my understanding from chatting to @khyberspache was also that a successful upload of a payload to this endpoint would return the SHA1 hash as confirmation, instead it just returns an `OK` message. lmk if this isn't intended and you want a separate issue raised and i'll sort it 🙂

[2022-04-05 15:17] stephanwampouille commented on #455
I retested again and can't reprod the 400, but still experiencing the refresh behavior when trying to connect to it.

[2022-04-05 22:09] #456 closed

[2022-04-05 22:09] #457 closed

[2022-04-05 22:09] #455 closed

[2022-04-06 15:21] stephanwampouille opened #459 "Authentication failing when connecting to manually stood up redirectors"
Reprod:
@lzimm
- stand up a manual redirector with the same account email as logged in to Operator.
- fill in credentials
- try and connect and receive the following error and console output `Found imposter trying to connect: dropping connection`

<img width="332" alt="Screen Shot 2022-04-06 at 11 20 47 AM" src="https://user-images.githubusercontent.com/84744117/162009621-83ad977e-a3ee-4082-a2c6-b

[2022-04-06 17:49] seijisakurai commented on #441
![redirector_test](https://user-images.githubusercontent.com/97065717/162036731-1fc47744-2103-4f6f-bb0a-d1c06de3db61.png)

Redirectors does work if you use an IP instead of DNS. Closing issue.

[2022-04-06 17:49] #441 closed

[2022-04-06 17:50] #459 closed

[2022-04-07 10:40] ajpc500 opened #460 "Chains API doesn't include summary field in newly created chain"
Creating a new chain as outlined in the [docs](https://github.com/preludeorg/community/blob/master/docs/operator/advanced/api.md#create-a-new-chain) results in the summary field being populated with `true` rather than the text content provided.

[2022-04-07 10:43] privateducky commented on #460
@stephanwampouille can you take a look at this today?

[2022-04-07 10:44] privateducky commented on #434
@lzimm @stephanwampouille update on this bug?

[2022-04-07 10:45] privateducky commented on #390
@khyberspache what's our status here?

[2022-04-07 10:46] privateducky commented on #310
closing this ticket (no action)

I'm going to link this ticket to a generic one on our board, which should resolve this topic: https://github.com/preludeorg/operator-support/issues/450

[2022-04-07 10:46] #310 closed

[2022-04-07 17:06] stephanwampouille commented on #434
I was able to terminate the redirector in us-east-2 but got this error. It did terminate successfully though<img width="633" alt="Screen Shot 2022-04-07 at 1 04 10 PM" src="https://user-images.githubusercontent.com/84744117/162258134-7e48156e-9848-46dd-9d70-afcb1c305189.png">

[2022-04-07 17:39] privateducky commented on #434
were you connected to a redirector when you did this, by chance?

[2022-04-07 17:52] stephanwampouille commented on #434
I was not, I had just disconnected right before

[2022-04-07 18:10] seijisakurai opened #461 "Pink Badge registration hangs after clicking verify"
Clicking on "verify" for "register for pink badge" causes a hang.
![unknown](https://user-images.githubusercontent.com/97065717/162268710-40f3e21b-63c9-4be0-9e5d-a01073306fc6.png)

[2022-04-07 23:56] stephanwampouille commented on #434
I actually need to correct myself I got this error for a different reason which I will open. But I did not receive nor have any troubles terminating redirectors on east-2

[2022-04-07 23:57] stephanwampouille opened #462 "Connecting to AWS redirector throws error"
I provisioned and then tried to connect to my redirector and it throw the following error. Functionality seems to be fine though.
<img width="336" alt="Screen Shot 2022-04-07 at 7 57 15 PM" src="https://user-images.githubusercontent.com/84744117/162337769-77966edf-f1e8-4989-ab7d-665327c3f78e.png">

[2022-04-08 00:13] khyberspache opened #463 "redirector deletions hangs"
<img width="1612" alt="CleanShot 2022-04-07 at 20 12 19@2x" src="https://user-images.githubusercontent.com/43142871/162339021-858786c6-4f14-491a-8d53-95a89e4121db.png">

deleting a redirector hangs the connect UI

[2022-04-08 00:14] khyberspache commented on #463
appear to delete properly though

[2022-04-08 01:15] khyberspache opened #464 "redirector connection doesn't out any outpost or publisher information"
<img width="1612" alt="CleanShot 2022-04-07 at 21 15 15@2x" src="https://user-images.githubusercontent.com/43142871/162344150-3eeaab6c-fa7b-477b-9f1e-b6de7d4f634b.png">

[2022-04-08 01:45] privateducky commented on #464
How was the redirector provisioned, manual or cloud? No console errors, right?

[2022-04-08 01:58] khyberspache commented on #464
cloud provisioned with connect plugin, no console errors

[2022-04-08 15:11] khyberspache opened #465 "race condition on login still exists"
something seems to have happened to my operator 1.5.2 where it gets stuck on load and just spins with the 3x3 square of dots flashing on the Agent Dashboard page. I deleted the app, reinstalled it, rebooted, nothing seems to help. When I reverted to 1.4.2 it seemed to load fine but even after factory reset when I chose to upgrade I'm back to spinning and can't escape. Any ideas?

[2022-04-08 17:18] khyberspache opened #466 "Requests library broken for plugins in 1.5.2"
[code]

![image](https://user-images.githubusercontent.com/43142871/162490745-05d1bd9b-7c4f-4752-af4a-714477887724.png)

[2022-04-08 21:20] khyberspache opened #467 "adding ART plugin pushes "automatic facts" and fact entry to last page"
![CleanShot 2022-04-08 at 17 20 00](https://user-images.githubusercontent.com/43142871/162533639-85c2c1ca-cd6e-43d1-9806-a6999bc38768.png)

these should be pinned to the first page of facts

[2022-04-08 23:45] seijisakurai opened #468 "Jambi snippet doesn't work when copying from Add agents"
Two issues need to be resolved:

- When a user clicks on the snippet the formatting is reset. This is not good since `@"` requires it to be in the form of:

`
Add-Type @"`
`using System.Net; using System.Security.Cryptography.X509Certificates; public class TrustAllCertsPolicy : ICertificatePolicy { public bool CheckValidationResult(ServicePoint srvPoint, X509Certificate certificate, WebRequest req

[2022-04-09 04:37] khyberspache opened #469 "Redirector crashes on beacons"
Sent a Jambi beacon to the redirector and it completely crashes:
[code]

[2022-04-09 04:40] khyberspache commented on #469
Equivalent error in Operator happens

<img width="1719" alt="CleanShot 2022-04-09 at 00 39 40@2x" src="https://user-images.githubusercontent.com/43142871/162556615-c3481e8a-589d-4b4a-9f1d-8efe50e9df26.png">

<img width="1725" alt="CleanShot 2022-04-09 at 00 40 06@2x" src="https://user-images.githubusercontent.com/43142871/162556624-bd3c6fa1-b09e-4a68-a485-6809fbfbb742.png">

[2022-04-09 05:26] khyberspache commented on #468
Fixes:
- https://github.com/preludeorg/operator/pull/3639
- https://github.com/preludeorg/jambi/pull/1

[2022-04-10 11:13] privateducky commented on #461
fixed: https://github.com/preludeorg/community/commit/2693750bc0aa4a8b12b4c71c5f29b64d2695be7c

@jpmoss we need to pop this into dev/prod outposts.

[2022-04-10 11:13] #461 closed

[2022-04-10 11:18] privateducky commented on #462
cannot reproduce this.

@stephanwampouille closing as it seems inconsequential - but please let me know if you can still see this.

[2022-04-10 11:18] #462 closed

[2022-04-10 11:20] privateducky commented on #466
@khyberspache this was resolved in https://github.com/preludeorg/operator/commit/68123444431d67661720a2edbb4895099dddb81d, correct?

[2022-04-10 11:22] privateducky commented on #466
It looks like the original bug was introduced in our patch version: https://github.com/preludeorg/operator/commit/63d5c7097d1da4724586fe3d1c9bca85dfa97b7a

[2022-04-10 11:25] khyberspache commented on #466
Yep

[2022-04-10 12:06] privateducky commented on #464
reason: this is another bug introduced by the node-fetch "patch" applied here: https://github.com/preludeorg/operator/commit/63d5c7097d1da4724586fe3d1c9bca85dfa97b7a

will work through an appropriate https solution.

[2022-04-10 14:37] privateducky commented on #469
@khyberspache two issues here:
1. the redirector shouldn't die on a bad request like this. I'll take a look.
2. the payload is 404'ing, which your screen shots look like you may be missing a "/" in your payload name (to separate the agent name from the module name).

[2022-04-10 14:46] privateducky commented on #469
This resolves the first issue: https://github.com/preludeorg/operator/pull/3645

[2022-04-10 14:47] privateducky commented on #465
This should be resolved with the full removal of node-forge. Will need a retest on the next release candidate build (upcoming week).

[2022-04-10 14:49] privateducky commented on #464
This should be resolved with the removal of node-forge.

I have currently swapped self-signed certs for HTTP. I'm debating leaving as-is for 1.5.3 or looking for alternative https solutions that work with our redirectors this week.

[2022-04-10 14:52] privateducky commented on #463
I can't replicate. I've tried two scenarios:
- manual redirector (just one delete prompt, to remove from list)
- cloud redirector (two delete prompts, one for list removal, one for aws termination).

it's possible latest code changes have resolved this issue or a different bug you reported was masking the issue.

I'm marking this as resolved but to retry with the latest release candidate (this upc

[2022-04-10 15:03] privateducky commented on #467
putting automatic facts first: https://github.com/preludeorg/operator/pull/3646

[2022-04-10 15:06] khyberspache commented on #469
Jambi should be g2g now I patched that side

[2022-04-10 15:07] #434 closed

[2022-04-10 22:43] Xanthonus opened #470 "Operator Networking and causing issues with services"
In Operator 1.4 I ran into an issue where when my ethernet adaptor did a DHCP release the IP did not change in Operator causing not only agents not to work but also things like HQ not to communicate.

In updating to Operator 1.5.2, my IP settings were left blank again causing Operator not to be able to login to HQ and I had to track it down.

The tool acts normally during this event and doesn't pr

[2022-04-11 12:52] sintax1 opened #471 "headless-linux crashes with URLs containing IPs"
v1.5.2 headless-linux agent crashes when running a ttp that contains a URL with an IP address. e.g. "http://1.2.3.4". Possibly part of the fact parsing logic?

Repro Steps:
1. Connect to a linux redirector.
2. Execute a ttp that contains a url with an IP Address.
3. Observe Operator lost connection with redirector and error output on redirector.

**Example ttp:**
[code]

**headless-linux Error Out

[2022-04-11 15:56] privateducky commented on #470
Not sure how to classify this one yet, so I'll leave open for now. I'm sure we can come up with a few scenarios to consider/put under test.

[2022-04-11 15:57] privateducky commented on #471
Will take a look.

[2022-04-12 20:51] lzimm commented on #468
note: tested both parts of the issue, that the copy and paste maintains formatting, and the payload download

- copy paste works in current master
- downloading payload still fails (though operator now returns a proper error and doesn't hang indefinitely), but that seems to be because the dev outpost has a mismatch between the jambi ttp (which expects `169387d6f3fa5c47c4f4a760fc7fbb0280dd9fde/Jamb

[2022-04-12 22:09] seijisakurai commented on #335
I tackled it last sprint and gave it a shot again today. Here are my experiences/thoughts:

- I decided to move all inline JavaScript and CSS. Everything works fine if we create new files for desktop.html.
- Connect.html breaks once we externalize the CSS (I believe anything that touches the sidebar would break too).

Based on my experience my suggestion is to enforce CSP such that it ignores inli

[2022-04-13 13:58] VVX7 opened #473 "remote agents have payload fact rendering to wrong target"
Remote agents will attempt to download payloads from 0.0.0.0 and fail. Agents should be using Operators routable interface address.

[2022-04-13 18:42] khyberspache opened #474 "Latest chains display is wrong inside Operator"
![CleanShot 2022-04-13 at 14 41 11](https://user-images.githubusercontent.com/43142871/163248348-a2c3a174-b704-46d2-8e99-1092a94cb6ca.png)

[2022-04-13 18:43] khyberspache opened #475 "Chains not displaying correct summary from chains website"
![CleanShot 2022-04-13 at 14 42 57](https://user-images.githubusercontent.com/43142871/163248620-c73e4218-46b7-4631-af23-8dff53f424cd.png)

[2022-04-14 01:46] lzimm commented on #466
this should be patched now, though @khyberspache do you mind giving it a kick with any plugins you've got that would make sense to do so with?

[2022-04-14 01:52] lzimm commented on #466
scratch that, needs to be validated here: https://github.com/preludeorg/operator/pull/3687

note: the ART plugin seems to completely hang Operator on load right now, but at least its not throwing errors.

[2022-04-14 01:53] lzimm commented on #469
if this was the simple 404 issue, can confirm that should be working properly now. bad payloads just cause operator to chill.

[2022-04-14 12:10] khyberspache opened #476 "Several chains broke during the 1.4 -> 1.5 cutover"
We need to go back and revalidate _all_ chains function since the 1.5 cutover

[2022-04-14 12:52] khyberspache commented on #473
The “IP” field in settings is completely ephemeral field that doesn’t impact the API at all. A more accurate name would be “callback address” which is what your agents would point at.

There is another immutable IP that is set to 0.0.0.0 that the API is hosted on.

This wasn’t clear in the release notes and the UI didn’t fully explain it.

We are updating the UI to clarify this.

[2022-04-14 12:52] #473 closed

[2022-04-15 01:37] VVX7 opened #477 "add content-length to payload response headers"
The HTTP response for a payload does not include Content-Length in the headers.  This breaks downloading payloads from any application that requires the content-length field (bitsadmin.exe, maybe other lolbins).

![CleanShot 2022-04-14 at 21 35 51](https://user-images.githubusercontent.com/46228229/163503976-b4e27545-4d24-4a2d-b761-f732fab900a3.png)

[2022-04-15 15:32] khyberspache commented on #468
Yeah for agents we will be using this format:
- http://0.0.0.0:3391/payloads/jambi/v1.5/Jambi-Windows.ps1

moving forwards

[2022-04-15 15:34] khyberspache commented on #390
@privateducky We're looping this into our re-do of all of the chains. I'm going to close this

[2022-04-15 15:34] #390 closed

[2022-04-17 11:49] privateducky commented on #476
@khyberspache are these fixes now rolled out or waiting for 1.5.3?

[2022-04-17 11:50] privateducky commented on #475
validated in the 1.5.3 build, which now reads chain files from outpost.

[2022-04-17 11:50] khyberspache commented on #476
This is going to be a longer process (all of next week).

Move forward with 1.5.3 as we will be tackling in parallel

[2022-04-17 11:52] privateducky commented on #474
In 1.5.3, the chain files will be read from Outpost, with the release date in the YML file. This should auto-resolve this issue, as I believe the date is being manipulated incorrectly somewhere along the code path as the chains get constructed.

[2022-04-17 11:57] privateducky commented on #335
Because the nature of the app is a C2 platform and we're not planning on submitting it to an app-store or similar verification process (of "normal" sec policies), we have no plans to put resources to this effort in the short/mid term.

That can change if we start moving in a "golden image" direction or determine another use case.

[2022-04-17 11:57] #335 closed

[2022-04-17 12:05] privateducky commented on #471
Just took this scenario for a spin in the 1.5.3 build, where we have better overall error handling around redirectors. Specifically, I think this bug was revolving around the built-in "thirdeye" agent, which prior to the 1.5.3 build, had a few unhandled errors.

I think if you run this scenario against a connected Pneuma agent, it would work.. but either way, I've validated this will work in 1.5.3

[2022-04-20 08:50] Xanthonus commented on #476
Progress Tracking:

**APT29 Theme**
COVID19: Works as intended

DNC: Missing the Collect E-Mail Data TTP and at least on initial run can the chain out of order. I had to lock the chain and then force run Self-Extracting RAR malware first. At least 2/3 TTPs ran sucessfully but missing the TTP to actually get anything.

ExBox: Needs complete reworking for both getting the payload from server and AdF

[2022-04-20 09:15] Xanthonus commented on #476
**Ransomware Theme**

Windows LoTL and Linux LoTL works as intended

Trying to get redirectors to work for me to test S(C)wipe Cswipe posted issues in #Operators-prod

[2022-04-20 17:14] khyberspache opened #478 "Shell listener using the public address instead of local private address"
<img width="1010" alt="CleanShot 2022-04-20 at 13 13 33@2x" src="https://user-images.githubusercontent.com/43142871/164286334-b444c482-2505-4a98-9095-253f434680ae.png">

[2022-04-20 17:22] khyberspache commented on #478
Fixed:
- https://github.com/preludeorg/operator/pull/3756

[2022-04-20 18:05] privateducky opened #479 "Update headless instructions in-app"
Let's clarify in the Headless instructions in the Connect section:

- You should open up ports for agent listening posts
- The command line in 1.5.3 is not called "headless-linux", just "headless"

[2022-04-20 18:07] #460 closed

[2022-04-20 18:07] #463 closed

[2022-04-20 18:07] #464 closed

[2022-04-20 18:07] #465 closed

[2022-04-20 18:07] #466 closed

[2022-04-20 18:07] #467 closed

[2022-04-20 18:07] #468 closed

[2022-04-20 18:07] #469 closed

[2022-04-20 18:07] #471 closed

[2022-04-20 18:07] #474 closed

[2022-04-20 18:07] #475 closed

[2022-04-20 18:07] #477 closed

[2022-04-21 01:56] sintax1 opened #480 "Broken "chains website" link in v1.5.3 Docs"
The "chains website" link under **Docs/What is a chain** is broken in the latest release.

**Repro Steps:**
1. Start Prelude Operator
2. Navigate to Docs->What is a chain
3. Click on "chains website" within "TTP Tuesday" paragraph.
4. Observe web page opens to invalid url (https://%3Cmark%3Echains%3C/mark%3E.prelude.org).

[2022-04-21 02:05] sintax1 opened #481 "Feature Request: Enhance chain Docs"
When inspecting chain yaml files it appears several undocumented chain configuration parameters exist such as **variables** and **metadata**.

Request that those additional parameters and their purpose be captured within all chains documentation, especially **Docs/Operator API** and **Docs/What is a Chain**

My assumption is that I may be able to set chain variables which could be used by the ttps

[2022-04-21 03:38] sintax1 opened #482 "Standardize ttp and chain CRUD API operations"
When using the Operator API, ttp and chain creation operations differ - When creating a **ttp** which has an id that already exists, the **ttp is overwritten**. When creating a **chain** which has an id that already exists, a **new chain is created with a newly generated id.**

It would also be helpful if the API response contained the newly created ttp/chain id.

Updating the docs to include expe

[2022-04-21 10:15] privateducky commented on #482
All good/easy things we can do to make improvements.
We'll roll these suggestions in.

[2022-04-21 10:15] privateducky commented on #481
@khyberspache can you scoop this up?

[2022-04-21 10:18] privateducky commented on #480
@sintax1 I can reproduce this issue. what operating system are you on?

note the docs are read from our community repo, this page in particular is here: https://github.com/preludeorg/community/blob/master/docs/operator/terms/chain.md.

[2022-04-21 12:24] khyberspache commented on #481
Yep! Amazingly fast catch here haha

[2022-04-21 17:00] bartimus-primed opened #483 "Some labels for identified IOCs overlap the value."
<img width="902" alt="image" src="https://user-images.githubusercontent.com/465079/164504894-10989302-759f-4e32-b72f-5eab5e7f084b.png">
<img width="894" alt="image" src="https://user-images.githubusercontent.com/465079/164505571-406410eb-a910-4592-a6a5-d01dbafb90bc.png">

[2022-04-21 18:55] sintax1 commented on #480
@privateducky  I'm on OSX.

[2022-04-21 21:15] Xanthonus opened #484 "Modified TTPs are not saving in production"
When modifying a TTP in 1.5.3 the modified TTP is not saving and just retains the original TTP.

[2022-04-21 21:17] khyberspache commented on #484
Repro steps?

I made and saved several today

[2022-04-21 21:19] Xanthonus opened #485 "TTP modification new line"
When modifying a TTP, after immediately going into the YML, the curser can move to the next line causing you to unintentionally make changes to the next line down from the intended change.

Prod 1.5.3 Windows

[2022-04-21 21:23] Xanthonus opened #486 "Unable to connect to redirector 1.5.3"
I've setup a redirector and it will not connect. In one case, I was able to connect to the redirector and when running a TTP it disconnected.

https://user-images.githubusercontent.com/10197660/164554613-33e7030c-5dc6-403b-ab33-ff082c8be449.mov

[2022-04-21 21:33] Xanthonus commented on #484
@khyberspache This actually shows both this issue and the #485

https://user-images.githubusercontent.com/10197660/164555703-53effda2-7f78-4faf-beca-051176bb536f.mov

[2022-04-21 21:34] khyberspache commented on #486
The redirector is dead, the heartbeat is red. Check it's running properly

[2022-04-21 21:35] khyberspache commented on #486
We might need to update the headless binary for auto provisioning

[2022-04-21 21:35] Xanthonus commented on #484
I think with 1.5.0 you used to have then two chains one that was modified and one that wasn't but if you look, I only have that 1 chain.

[2022-04-21 21:42] Xanthonus commented on #486
@khyberspache Unless Im doing something wrong here it still fails even when I make a new one.

https://user-images.githubusercontent.com/10197660/164556735-9dd19e6f-b67e-4a5f-9b61-787cf5992444.mov

[2022-04-21 21:42] Xanthonus commented on #486
I feel like if it's a AWS account issue it wouldn't have made the EC2 instance

[2022-04-21 21:43] khyberspache commented on #486
Did we update the headless binary and deployment TTP on prod?

[2022-04-21 21:45] Xanthonus commented on #486
I'm going to guess we haven't. I'll take a look at it.

[2022-04-21 21:49] privateducky commented on #486
I've tried a few, manual and cloud, and can't repro. @khyberspache any luck on your side?

[2022-04-21 21:51] Xanthonus commented on #486
I noticed we have the old 1.5.2 on the EFS and the MD5 sum on the website is broken.

[2022-04-21 21:53] privateducky commented on #486
ah, wonder if there's an incompatibility with 1.5.2 -> 1.5.3 on certain systems...

[2022-04-21 22:39] Xanthonus commented on #486
@privateducky It works now! yay 💯

[2022-04-21 22:51] Xanthonus commented on #486
@privateducky Welp it worked 1 time. I ran a chain on it. Disconnected and now fails every time to connect. Ive also removed the redirector. Closed Operator, Remade redirector. Fails to connect.

[2022-04-21 22:51] Xanthonus commented on #486
Now its working again

[2022-04-21 22:57] Xanthonus commented on #486
Ok I'm going to close again. I know I didn't pull the old binary when I first connected successfully, but it seems to be stable and working consistently. If it breaks consistently Ill reopen. Probably something weird happened with the workspace or something that first time.

[2022-04-21 22:57] #486 closed

[2022-04-22 17:57] ax-anadrowski opened #487 "make /v1/ping endpoint great again"
I am working on some automation to automate operator payload generation. I need a way to present redirectors to the user via API. I know I can do this by reading settings.yml, but the redirectors are in a private key meaning it can change/break in future.

Currently, a GET to `https://localhost:8888/v1/ping?extended=1'` to an operator instance with redirectors returns:

[code]

I would like it to

[2022-04-23 12:48] privateducky commented on #487
ah, so you're looking for private settings, on top of the public settings that are returned today.

what's your use case?

[2022-04-23 12:53] privateducky commented on #487
I went ahead and added a /v1/settings endpoint, which will be available in 1.6.0.

[2022-04-23 12:55] privateducky commented on #487
https://github.com/preludeorg/community/pull/465/files

[2022-04-23 13:03] privateducky commented on #479
Text updated and will roll out in 1.6.

[2022-04-23 13:04] privateducky commented on #480
@sintax1 we haven't been able to reproduce this issue. can you take a few screen shots of what you see/are doing?

[2022-04-23 14:20] sintax1 commented on #480
Working for me now as well. ¯\_(ツ)_/¯

[2022-04-23 14:20] #480 closed

[2022-04-23 14:26] sintax1 opened #488 "Add the ability to edit redirector config"
Feature Request: Add the ability to edit the FQDN and Token settings for a redirector.

This would be especially helpful for those redirectors with dynamic IPs.

[2022-04-23 14:31] sintax1 opened #489 "Add the ability to cancel a redirector connect attempt"
When attempting to connect to a redirector that does not exist (IP changed for example), you are forced to wait until the connection attempt times out. The UI is inaccessible during this timeout period. Instead, it would be nice if you could cancel this connection attempt.

[2022-04-23 15:27] privateducky commented on #489
Good idea, will do.

Short term hack: CTRL+R to refresh the page.

[2022-04-26 15:47] khyberspache opened #490 "Add indicator that user is logged out"
We need to somehow indicate to the user that they are logged out. We still do not do this and have to tell users to open their Dev console to check.

[2022-04-28 21:05] Xanthonus opened #491 "Destructive Tag needs further investigation"
Don't believe destructive tagging is working or not working as expected. Professional TTPs with this tagging was changed to use state: 2 and tagging was removed on Mar 8, 2022.

[2022-04-30 15:32] VVX7 opened #492 "Unable to reorder ttps in chains of 2 ttps"
When a chain has two ttps they cannot be reordered by dragging and dropping.  Adding a third ttp, reordering the original two, and then removing the third is a current workaround for this issue.

[2022-05-02 12:59] jfmaes opened #493 "Feature request: delete TTP history"
in the agent chain overview, a clear button would be nice to clear previously ran chains

[2022-05-02 13:00] jfmaes opened #494 "feature request: slider between chain and yaml"
a slider to change the ratio between the chain and the YAML TTP would be nice so we can adjust to our own liking
![image](https://user-images.githubusercontent.com/55604242/166237707-cccc0796-e3c7-4bda-9b4c-b44bf5f71e99.png)

[2022-05-02 14:06] VVX7 opened #495 "Search bar and deploy button obscure ttps"
The ttp search bar and deploy button are not locked in place. When scrolling a list of ttps they obscure the ttps beneath them.

Expected behaviour: the bar/button should not move from the top and bottom of the view.

<img width="923" alt="CleanShot 2022-05-02 at 10 03 00@2x" src="https://user-images.githubusercontent.com/46228229/166247212-0134f6ce-9704-46b4-b88c-9ec751843459.png">

[2022-05-02 14:38] Xanthonus commented on #476
This is effectively completed with only Goldilocks an issue that we are tracking.

[2022-05-02 14:38] #476 closed

[2022-05-02 15:57] privateducky opened #496 "Support building chains through fact/dependency lookups"
Currently, if you want to build a chain, you search for TTPs (adding them to the chain) then look at the facts inside their commands to understand what dependencies they have. Then, you'd search for "tactic:whatever" to start finding TTPs that may meet the dependency.

We can enhance this experience by clearly highlighting the fact dependencies in a chain and creating a smooth experience to resolv

[2022-05-02 20:17] VVX7 opened #497 "Locked/unlocked phrasing is confusing"
Using locked/unlocked for TTP execution order is confusing because locked implies that the order is immutable and because locked/unlocked are used elsewhere in the app for a different purpose.

Consider alternative language such as ordered/unordered when referring to ttp execution.

Cross post from Discord:

![CleanShot 2022-05-02 at 16 14 44](https://user-images.githubusercontent.com/46228229/166

[2022-05-02 20:25] ax-anadrowski opened #498 "Linking documentation update"
![image](https://user-images.githubusercontent.com/85503008/166320462-f770ed7f-b676-408a-8c51-773635749c23.png)

There are carriage returns in the docs under the linking documentation for all 3 facts which are in an unordered list.

[2022-05-02 21:50] privateducky commented on #497
good idea. fixed, will be in 1.6.

[2022-05-02 22:58] ghost opened #499 "Improve Stage collected files TTP"
When the File Hunter chain is ran, the Stage collected files TTP (4e97e699-93d7-4040-b5a3-2e906a58199e) fails if it attempts to copy a file that contains a space.

![image](https://user-images.githubusercontent.com/85503008/166339620-19bbea32-9043-4d02-b481-07f7cfbdd033.png)

The cp src in this case should've been "installer_plugin (1).pkg"

[2022-05-03 12:28] privateducky commented on #498
Fix will go out with 1.6.

[2022-05-03 18:59] privateducky commented on #492
fix in for 1.6.

[2022-05-04 12:05] privateducky commented on #481
@khyberspache let me know if you think this is a 1.6 candidate.

[2022-05-04 12:06] privateducky commented on #496
<img width="1351" alt="Screen Shot 2022-05-04 at 8 05 31 AM" src="https://user-images.githubusercontent.com/49954156/166677824-92cc1986-e13c-477f-b0c2-ff295b6f78fd.png">

1.6 will allow viewing the dependencies per TTP inline (see above).

[2022-05-04 14:08] privateducky commented on #483
now fixed for 1.6.

[2022-05-04 16:51] Xanthonus commented on #484
O wow that is not obvious at all!

@makk94 I found something else while testing this. So if you modify the chain we don't provide any designation that particular chain was modified other than going into the chain and seeing the modified TTP. This is a potential issue because say you select the chain that is not modified and then you re-search for the modified chain and select that chain. Now you h

[2022-05-04 17:39] VVX7 opened #500 "ttp editor ctrl+z may edit previously edited ttp"
It's possible to undo changes in the ttp editor such that you restore a previously edited ttp.

Repro:
- load a ttp
- make one change
- load a second ttp
- make a change
- ctrl +z twice to restore the first ttp

Expected behaviour:
- undo applies only to the currently loaded ttp

[2022-05-04 19:49] makk94 commented on #484
Yeah, I can do a quick fix to name modified chains in the same way that modified ttps are named (ie. appending `(Modified)` to the chain name)

Will continue to think about how to make it obvious that you need to click the button to save a new chain

And that yaml bug is super annoying ha trying to tackle that in https://github.com/preludeorg/operator/pull/3819

[2022-05-05 16:16] khyberspache opened #501 "Link is Sliver documentation is broken"
<img width="296" alt="CleanShot 2022-05-05 at 12 14 26@2x" src="https://user-images.githubusercontent.com/43142871/166967069-97a851d6-8d2b-4d44-8833-a4853f6a93c8.png">

Clicking that link send you to: https://github.com/BishopFox/%3Cmark%3Esliver%3C/mark%3E

probably a markdown library issue

[2022-05-05 17:14] bartimus-primed opened #502 "Uploading Artifacts to Agents"
When attempting to upload an artifact to an agent using a:

(PUT HTTP://127.0.0.1:3391/)
Headers include a "key: $TOKEN" and "agent: $AGENTNAME" based on what it looks like in the code. Essentially the request hangs and has to be killed on the client-side. I attempted to debug in the app, but the request never hits the resolveUpload function in the debugger.

[2022-05-05 17:24] bartimus-primed opened #503 "Email addresses are case sensitive."
Currently, email addresses are case-sensitive when logging in on prod.

[2022-05-06 13:51] privateducky commented on #502
Likely needs a header that we don't have documented.

As part of solving this, we'll ensure there is a doc page specific to this endpoint put into the Community repo.

[2022-05-06 13:54] privateducky commented on #490
Our current approach is the green icon in the bottom right.

My guess: when hitting 403's, we're not actually logging you out / changing that icon back to grey. sound right?

[2022-05-06 13:56] privateducky commented on #493
Option: you can clear results by deleting the agent. the side effect of this, is it will additionally delete the agent's profile.yml file - but this is regenerated on the next beacon by the agent.

is this a sufficient case do you think, or would a results-only clearing option be better?

[2022-05-09 13:13] VVX7 opened #504 "xss in facts"
There's an xss vuln in fact values in Operator.

Repro:
- create a new fact
- set the fact value to `"><script>alert('oh no')</script>`
- save fact and navigate back to 'My Profile'

![image](https://user-images.githubusercontent.com/46228229/167417362-0d7bbd5a-81c3-49b4-9440-a6903950c552.png)

[2022-05-09 13:16] VVX7 opened #505 "xss in ttp output"
There's an xss vuln in how operator renders ttp output.

Repro:
- Create a ttp that will ouput HTML/JS
- Run the ttp and view the result

![image](https://user-images.githubusercontent.com/46228229/167417901-1702e49f-50ec-4fc0-a249-18541e169575.png)
![image](https://user-images.githubusercontent.com/46228229/167417937-a4a9772d-c822-4d48-a5a1-a938a5587b25.png)

[2022-05-09 13:17] privateducky commented on #504
I'd equate this to DOS'ing yourself.. we have several of these cases inside the app itself, where we render HTML, but as a client-side app this one (in particular) looks like it's a no impact.

[2022-05-09 14:32] VVX7 commented on #504
Why stop and DOs'ing yourself when you can get the whole team?

When users connect to a redirector to share an agent then one user may store and execute code via a fact on anothers machine.  In this pic I set up a redirector, configured an agent and fact on one machine, connected to the redirector and opened 'my profile' on the second machine.

![CleanShot 2022-05-09 at 10 28 27](https://user-imag

[2022-05-09 15:24] VVX7 opened #506 "recent chain link is broken"
Recent chain "learn more" link in Operator does not link to the chain page.

<img width="824" alt="CleanShot 2022-05-09 at 11 21 03@2x" src="https://user-images.githubusercontent.com/46228229/167442579-c817bf37-71e9-427b-b6cb-96c69f782bbc.png">

![image](https://user-images.githubusercontent.com/46228229/167442530-ee137ea7-a962-4b1c-89cc-0541b22069bc.png)

[2022-05-10 16:23] privateducky commented on #490
This is largely solved in 1.5.3, where there can only be 1 request to HQ (authentication) at a time.

In 1.6, @makk94 just added a forced logout if you delete your active security token, which should be the last "surprise" 403 path you can encounter.

Adding the 1.6 label to this ticket as such. But let me know if you can think of any other edge cases the 403 could pop up in.

[2022-05-10 18:41] privateducky commented on #502
@makk94 the ask on this one, to be clear, is for us to test our HTTP upload endpoint (PUT request against localhost:3391), which should accept arbitrary files and place them in a chosen agent's artifacts directory (in the prelude workspace).

We also need to verify our existing documentation (in the Community repo) is accurate to this endpoint.

[2022-05-11 10:11] privateducky commented on #502
@makk94 sounds great - feel free to adjust docs anytime!

[2022-05-11 12:28] VVX7 opened #507 "valid encryption keys may be reported as invalid"
A valid encryption key may appear invalid when a previous key was invalid.

Repro:
- save an invalid key
- save any valid key
- the key list will be red indicating the key is not valid

Expected:
- the box isn't red when the key is valid

Workaround:
- reload operator

<img width="702" alt="CleanShot 2022-05-11 at 08 23 16@2x" src="https://user-images.githubusercontent.com/46228229/167849204-02515

[2022-05-11 14:10] VVX7 opened #508 "unresponsive form fields on manual redirector"
When deploying a manual redirector the form fields may become unresponsive. Text cannot be input and the client must be reloaded.

A user was able to replicate this a few times on a windows machine.  I haven't been able to replicate myself on Mac/Windows.

[2022-05-11 17:39] gerbsec commented on #501
This effects every link if the word you search for is in the URL.

[2022-05-11 23:56] privateducky commented on #495
@VVX7 fix just merged. Can you validate it?

[2022-05-12 00:22] VVX7 commented on #495
Fixed!
<img width="721" alt="CleanShot 2022-05-11 at 20 20 50@2x" src="https://user-images.githubusercontent.com/46228229/167967964-46c67c4d-eb0c-4bb1-b2e2-f9f88eed2b21.png">

[2022-05-12 17:06] khyberspache commented on #508
Repro steps:
1. start headless server somewhere
2. launch operator
3. add headless server incorrectly in connect (add wrong token so it can't actually connect)
4. Close connect modal
5. Reopen connect modal
6. Click on broken redirector
7. Attempt to add new redirector

Eventually you'll get a state where the UI doesn't respond if you do this

[2022-05-12 17:14] khyberspache opened #510 "Allow loading of custom HTTPS certificate & key pem"
Right now we only load the installed certificate, we should let users install their own certificate from their workspace

[2022-05-12 17:31] khyberspache opened #511 "Jambi goes unresponsive when running TTP"
[code]

id: 05cda6f6-2b1b-462e-bff1-845af94343f7

this will cause Jambi to not run anymore TTPs and also doesn't work.

[2022-05-13 14:02] khyberspache opened #512 "Root Cause Analysis: Operator/Chains are "broken" and "not working""
We get a large number of users reporting "chains are broken" and "nothing is running". Generally, users get to a state like this:
<img width="1612" alt="CleanShot 2022-05-13 at 09 53 25@2x" src="https://user-images.githubusercontent.com/43142871/168299081-003a8703-fc2f-428a-8d57-83f0304e6502.png">

They think the app is broken, but in reality the app is working, the queue is just stalled waiting f

[2022-05-13 15:19] Xanthonus commented on #512
With the changes happening to the chains website we need to better the experience around user defined facts.

Other than knowing what a user defined fact looks like and looking at the chain and/or knowing that you can go to our current chains website to get the list of user defined facts you really don't know. The other way to get this information is to go and watch our YT videos where in some ins

[2022-05-13 16:37] gerbsec commented on #506
This is a much more complicated bug as we don't have a way to track themes.

[2022-05-13 17:40] privateducky commented on #512
Predicting fact interpolation is a bit of a hairy area (and separate from this queue one), as facts can be "learned" or provided manually.

For 1.6, a new feature will shed some more light on it by letting you view your chain by fact dependencies. We don't yet show which facts you have/don't have because we don't have a mechanism in place to determine that (with a high degree of confidence) but it

[2022-05-13 18:11] privateducky commented on #507
@VVX7 can you validate the feature branch fix here?
https://github.com/preludeorg/operator/pull/3864

[2022-05-16 21:34] gerbsec opened #513 "Jambi and Schism do not connect back to Operator."
When running Operator in dev and running Jambi or Schism with the start up script. They are able to download the script and run it however they do not show up on Operator.

Alex mentioned metadata being missing, that might help resolve the problem.

[2022-05-17 00:01] khyberspache commented on #513
This should be patched, can you test again

[2022-05-17 00:13] khyberspache opened #514 "HTTP Beacon agents show dead after first beacon wait"
<img width="403" alt="CleanShot 2022-05-16 at 20 12 34@2x" src="https://user-images.githubusercontent.com/43142871/168702127-ab88f69e-ae58-470d-ad37-fad63185e64f.png">

HTTP agents will connect, then go red (if interval over 10s), then go green once the calculation is made.

Repro:
1. Launch pneuma HTTP w/ sleep 60
2. Let agent connect
3. Wait for beacon to go red
4. wait for next beacon to go gre

[2022-05-17 00:18] khyberspache opened #515 "Edge Case: Cached agent module payload can be different from server-side payload"
Repro:
1. Run schism agent
2. Make update to a module for a version
3. run schism agent again, cache payload is used

This is very much an edge case, as we (probably) don't want to make overwriting changes to agent modules often. These changes will go into 1.6 folder (notionally)

[2022-05-17 14:40] gerbsec commented on #513
It's patched. on v1.6

[2022-05-17 15:29] gerbsec commented on #511
I believe this has been patched as part of the content-type issue yesterday https://github.com/preludeorg/operator-support/issues/513

[2022-05-17 15:32] gerbsec commented on #511
Just ran one more test to triple check. I was wrong. Going back in again.

[2022-05-17 18:08] gerbsec opened #516 "TTP Search can only parse results one word at a time"
When searching for a TTP like "Leave Note", it works fine as long as I don't extend my search past one word:

<img width="619" alt="image" src="https://user-images.githubusercontent.com/67713732/168880635-36204970-1c3e-45e7-a51f-a451292e2b44.png">

However if I add a space it breaks the search and returns 0 results:

<img width="629" alt="image" src="https://user-images.githubusercontent.com/67713

[2022-05-17 22:49] khyberspache commented on #516
Yeah another is `active user`
<img width="1612" alt="CleanShot 2022-05-17 at 18 49 05@2x" src="https://user-images.githubusercontent.com/43142871/168924783-c2a45b75-4366-40c5-bc5e-7e8be78837d5.png">

[2022-05-18 14:54] privateducky commented on #516
Fixed. This is a dev only bug right now.

[2022-05-18 18:10] khyberspache commented on #512
Are we adding anything to make it clear what is blocking?

<img width="1612" alt="CleanShot 2022-05-18 at 13 09 17@2x" src="https://user-images.githubusercontent.com/43142871/169114750-e533154d-d6b0-495a-9cf1-23380d13d687.png">

[2022-05-18 20:14] privateducky commented on #512
yes. unclear if we'll have it ready for 1.6 though.

[2022-05-19 13:25] privateducky opened #517 "Large TTP responses not being published to a custom Outpost server"
Steps:
1. Log into Operator with an enterprise account.
2. Choose a TTP which will generate a larger response and deploy it.
3. All looks normal.

Behind the scenes:
- Headquarters receives the event
- The event is not received on the Outpost

[2022-05-19 13:26] privateducky opened #518 "Redirector panel showing 2 scroll bars"
![](https://user-images.githubusercontent.com/49954156/168591923-5efb89f4-cbfb-490d-9a11-af9be66a36ac.png)

[2022-05-19 13:27] privateducky opened #519 "Dialing reverse shell to wrong public IP gets UI into weird state"
<img width="1612" alt="CleanShot 2022-05-18 at 13 14 15@2x" src="https://user-images.githubusercontent.com/43142871/169115970-fd9f9596-83a1-4f82-a0a7-4641b485637f.png">

ran 2 spawn reverse shell TTPs, but realized that I had the wrong public ip, so I went in and change the IP. The UI ended up with a grey dot and didn't refresh
<img width="1612" alt="CleanShot 2022-05-18 at 13 15 34@2x" src="https

[2022-05-19 14:22] privateducky opened #520 "Deleting the last custom agent fact doesn't propagate immediately in team environments"
If you delete the last custom fact for an agent on a redirector, the change is not reflected on your teammate's desktop app unless they disconnect/reconnect.

Steps:
- Have 2+ people connect to a redirector
- One person add a custom fact
- Verify it shows up on both desktop apps
- One person remove the fact.
- The fact remains on the other desktop app until a disconnect/reconnect action is done.

[2022-05-19 16:06] gerbsec opened #521 "Deleting third eye agent when another agent is present hides it."
Before deleting third eye:

<img width="301" alt="image" src="https://user-images.githubusercontent.com/67713732/169342707-d05520d2-4a04-4309-9167-9e46c7c365c1.png">

After deleting thirdeye:

<img width="312" alt="image" src="https://user-images.githubusercontent.com/67713732/169345940-0338e62c-d122-45fd-9949-ba5bc78f291d.png">

After deleting schism:

<img width="291" alt="image" src="https://us

[2022-05-19 17:38] privateducky commented on #518
fixed: https://github.com/preludeorg/operator/pull/3927

[2022-05-19 17:38] #518 closed

[2022-05-19 17:39] privateducky commented on #521
Odd. It should delete then re-appear immediately in this case.

[2022-05-19 23:14] VVX7 opened #523 "descriptive status codes"
Operator should return more descriptive http status codes.
I suggest https://http.cat/

[2022-05-20 11:02] privateducky commented on #523
Which API are you interacting with?

[2022-05-20 11:21] VVX7 commented on #523
Right now? None.  If they return these cats? All of them.

[2022-05-20 11:42] privateducky commented on #523
Did a quick scan through the internal Operator API and it looks right; we return 200s, 400s, 402s, 403s, 404s, 500s in the places I'd anticipate. I think we're good to go there but let me know if a given endpoint is mixed on status code!

[2022-05-22 17:06] privateducky commented on #521
did a quick check on this - this is the intended behavior:
- if you delete the last agent (regardless of what it is) the page will reload, re-generating the thirdeye agent.
- if you delete an agent when more are in the list, no page reload occurs. if you deleted the thirdeye agent and do a manual page refresh, it will regenerate.

This is primarily a safeguard against having 0 agents in the list,

[2022-05-22 17:06] #521 closed

[2022-05-22 17:12] privateducky commented on #523
Per comment, not seeing any statuses that are off, in a quick scan. Please re-open if there are (specific) status codes not caught.

[2022-05-22 17:12] #523 closed

[2022-05-23 18:58] khyberspache opened #524 "Fetch errors when installing HTTPS plugin and Vectr plugin"
Installing the HTTPS plugin and Vectr plugin will through a `res.undefined` error in the Vectr plugin.

[code]

res will be undefined ONLY when HTTPS is installed.

[code]

[2022-05-23 19:01] privateducky opened #525 "Agent sidebar using local/desktop ports for commands"
Steps:
1. Connect to a redirector
2. Change the TCP port in settings
3. Open the agent sidebar to deploy a new agent
4. Select an agent and look at the command. Note the port did not update.

Ask: read settings from operator.getSettings() instead of Settings.s.

[2022-05-23 19:27] privateducky opened #527 "Running file hunter tasked TTPs out of order"
![CleanShot 2022-05-23 at 12 54 48](https://user-images.githubusercontent.com/43142871/169870235-12bac78e-ea22-4b79-b1cc-f51ceb216148.png)

Repro:
1. Open file hunter
2. Click soon Unordered then Ordered again
3. Run TTPs against ThirdEye

[2022-05-23 20:52] #452 closed

[2022-05-23 20:52] #478 closed

[2022-05-23 20:52] #479 closed

[2022-05-23 20:52] #483 closed

[2022-05-23 20:52] #484 closed

[2022-05-23 20:52] #485 closed

[2022-05-23 20:52] #487 closed

[2022-05-23 20:52] #490 closed

[2022-05-23 20:52] #491 closed

[2022-05-23 20:52] #492 closed

[2022-05-23 20:52] #495 closed

[2022-05-23 20:52] #496 closed

[2022-05-23 20:52] #497 closed

[2022-05-23 20:52] #498 closed

[2022-05-23 20:52] #500 closed

[2022-05-23 20:52] #501 closed

[2022-05-23 20:52] #502 closed

[2022-05-23 20:52] #503 closed

[2022-05-23 20:52] #504 closed

[2022-05-23 20:52] #505 closed

[2022-05-23 20:52] #506 closed

[2022-05-23 20:52] #507 closed

[2022-05-23 20:52] #513 closed

[2022-05-23 22:58] privateducky commented on #527
@khyberspache do you have this compressed directory on hand? I'm curious if it's running out of order here or if rendering on page may not catch something in the same second like this... if the compressed directory has both files in your test or just one, that'd be telling.

[2022-05-24 18:31] khyberspache opened #528 "PROD headless asking for update but it is on latest version"
![image](https://user-images.githubusercontent.com/43142871/170107040-e3b5dfb2-6801-4be1-9e4e-9867530f711f.png)

[2022-05-25 20:16] gerbsec opened #529 "TTPS in ordered position don't execute in order."
Executing my ttps, execute in whatever order they want:

<img width="836" alt="image" src="https://user-images.githubusercontent.com/67713732/170352289-83ca5b9f-60c5-4abe-9142-e79d2b290a99.png">

[2022-05-26 00:16] ax-anadrowski opened #530 ""Copy" keyboard shortcut does not work on original TTP"
When I view an original TTP without forking/saving it, I am unable to copy any of the content into my clipboard. Both the keyboard shortcut and Edit > Copy do not work.

My workaround right now is to fork a TTP (to get the modified version) which brings up the editor, and it works there.

[2022-05-26 01:32] khyberspache opened #531 "NetSH Helper DLL chain does not work on Windows 11"
Netsh Helper DLL chain does not run fully on Windows 11.

We need to:
1. Update the JSON parser to FIRST regex out json blobs, THEN parse the data
2. Fix the chain

[2022-05-26 01:35] khyberspache opened #532 "Split TTP into variants is clone TTPs and not splitting them"
TTPs without variants are being split into X clones of the TTP where X are the number of executors on the TTP

[2022-05-26 01:48] khyberspache opened #533 "Uninstalling a plugin does not flush the in-memory configuration"
Uninstalling a plugin and reinstalling a plugin doesn't actually refresh the `config.yml`.

Repro:
1. Install Vectr plugin
2. make changes to the config.yml
3. Delete plugin
4. Reinstall plugin

The config.yml will contain the changes from before the delete action

[2022-05-26 02:26] khyberspache opened #534 "Set TERM when not set"
When I generate installer payloads using [iShelly](https://github.com/AutomoxSecurity/iShelly) for macOS and drop down to a reverse shell in Operator, my terminal/PTY does not display input correctly. I noticed this is because TERM is not exported when an installer that runs as root is ran.

Running export TERM=xterm-256color in each new reverse shell fixes it, but it would be nice if this was not

[2022-05-26 15:28] khyberspache opened #535 "Extended payload.bytes support to core Operator"
Currently the payload.bytes special keyword is used for Sliver TTPs, but it would be very helpful to support this inside Operator as a core functionality.

The idea would be to allow TTPs like:
[code]

Even better would be combining this with:
- https://github.com/preludeorg/operator-support/issues/458

Then we could do stuff like:
[code]

[2022-05-26 23:37] bartimusprimed opened #536 "Auto update crashes headless"
this was reported by occupy_eip,

OS: Ubuntu 20.04

When headless is running from /opt/headless, an update will crash the headless instance.

"Run me from /opt/headless to enable automatic updates.... heh. even though I have latest headless and local version it says I need an upgrade done, but when I try to upgrade it seems to crash my headless version"

[2022-05-26 23:44] privateducky commented on #536
It should stop and restart the process.. but it's possible there's a diff between /tmp and /opt.

[2022-05-27 14:05] privateducky commented on #528
I saw this in development too, but figured it was a mismatch on our version numbers in the package.json file.

We need to:
- Validate our package.json versions are accurate
- Validate we are handling the /ping return (from Operator's headless API) correctly, where the version is returned back to this Connect panel.

[2022-05-27 14:06] privateducky commented on #529
Closing, as duplicate of https://github.com/preludeorg/operator-support/issues/527

[2022-05-27 14:06] #529 closed

[2022-05-27 14:09] privateducky commented on #530
Yep, we should support this action.

Two options we can consider:
- Enabling CTL+C behavior on a frozen TTP (preferred)
- Adding a copy icon in the nav bar

[2022-05-27 14:10] privateducky commented on #532
I have temporarily added a UX fix for 1.7, which will auto-switch the view to 'identifiers' if you click a SPLIT button.

This may get re-done before 1.7, but I wanted a stop gap just in case, that was at least clearer.

[2022-05-27 14:10] #532 closed

[2022-05-27 14:11] privateducky commented on #533
We'll aim to fix this for 1.7.

[2022-05-27 14:12] privateducky commented on #534
This should be a minor feature add, which we can plug in for 1.7.

[2022-05-27 14:13] khyberspache commented on #527
I think it might be rendering out of order

[2022-05-27 14:14] privateducky commented on #536
I have a feeling this is an after-effect of https://github.com/preludeorg/operator-support/issues/528, where we're firing off an upgrade attempt when there is none available.

I'll keep these as separate issues for now, until we can confirm this.

[2022-05-27 15:06] bartimus-primed opened #537 "Links for ARM versions of pneuma"
It would be nice to have ARM versions of pneuma/pneumaEX in the "Add Agents" section.

[2022-05-27 15:07] khyberspache commented on #537
This is actually more complicated than just adding another link... we currently don't have a way to designate architecture across TTPs/binaries

[2022-05-27 20:58] bartimus-primed commented on #536
Sounds good.

[2022-05-28 21:11] clr2of8 opened #538 "v1.6.0 Payload download failed"
I clicked the paper clip to download dirtypipe.c and get the error:

Download failed. TypeError: Cannot read properties of undefined (reading 'blob')

![image](https://user-images.githubusercontent.com/22311332/170842915-9efbb7fc-b23a-4f0e-bb4a-f7fac78090d9.png)

[2022-05-28 21:16] clr2of8 commented on #538
Looks like I get the same error when trying to download payloads for any/all TTPs. I'm on Windows 10

[2022-05-31 11:16] privateducky commented on #537
Agreed. Would be nice to do more platforms (and we can 1-off if someone needs it) but closing, as this is unlikely to get prioritized anytime soon.

[2022-05-31 11:16] #537 closed

[2022-05-31 11:18] makk94 opened #539 "training section asks to install ART plugin that doesn't exist"
^ under introduction/advanced/3rd flag

[2022-05-31 11:21] privateducky commented on #539
Ask: let's swap this training flag to the HTTPs plugin.

[2022-05-31 14:40] VVX7 opened #540 "redirector password not displayed in operator"
After creating a new redirector the password used to connect to it is not displayed in Operator.

Repro:
Create a new redirector.
Navigate to the redirector view.

Work around:
Extract password from settings.yml.

Expected behaviour:
Redirector secrets are available in the UI.

[2022-05-31 14:46] privateducky commented on #540
Try this: connect to the redirector, then check your token in settings.

[2022-05-31 14:56] VVX7 commented on #540
I see.  Yeah, that makes sense. Suggest adding labels though, since it's easy to forget that these settings no longer refer to the local instance when connected to a redirector.

[2022-05-31 15:09] VVX7 commented on #540
Sure, but light mode is a fundamental human right so let's not tie it to redirectors ;)

[2022-05-31 19:33] Xanthonus commented on #538
@privateducky, @khyberspache and I took a look at this.

Im unable to download the payload using the paperclip in the TTP itself and get the same error as @clr2of8

Error seems to be coming from workspace.js specifically these lines with res being undefined:
`Requests.outpost.getPayload(payload)
                    .then((res) => res.blob())
                    .then((bytes) => Buffer.from(bytes))

[2022-06-01 02:01] clr2of8 opened #541 "v1.6.0 training says use "-help" option but that doesn't work on Windows"
Agents question 3

![image](https://user-images.githubusercontent.com/22311332/171313036-5c163cd7-6507-4433-b07b-fd6893ab6364.png)

[2022-06-01 02:21] clr2of8 opened #542 "v1.6.0 "Stop agent process" doesn't work for udp contact point on Windows"
Sleep is set to 60 seconds and I've waited several minutes and dot never turns red by the agen

![image](https://user-images.githubusercontent.com/22311332/171314713-6fe2a470-4ae1-4f46-9641-20c12502fe8f.png)

[2022-06-01 16:53] khyberspache opened #543 "Add indicator that a user is logged"
We need a UI/UX element that shows a user is logged out

[2022-06-01 16:54] privateducky commented on #543
@makk94 report here is that the green light is still on if a log out occurs.

[2022-06-01 16:54] khyberspache commented on #543
I hit a case where I was logged out, not sure what happened/repro steps. https://github.com/preludeorg/operator-support/issues/490

will try to reproduce and get you steps

[2022-06-01 16:56] makk94 commented on #543
our earlier fix was fairly specifically to log out (and turn off the green light) if you delete the currently-in-use security token. If magical logouts are happening, I don't think the green light will turn off

[2022-06-02 03:45] bartimusprimed opened #544 "Payloads via redirectors result in UNHANDLED PAYLOAD EXCEPTION"
<img width="706" alt="image" src="https://user-images.githubusercontent.com/465079/171548765-b2787295-d86f-4ac7-aceb-ba63ee19bc6b.png">

Was initially reported by discord user occupy_eip, I replicated it with a similar setup.

[2022-06-02 13:10] bartimus-primed commented on #544
From what I've seen it's all payloads. When attempting to download it from a redirector.

My setup was:
Local operator instance -> manual redirector on AWS

local pneuma connected to the AWS redirector.

Running a TTP that contains a payload, results in that error.
I didn't include a TTP in the issue because it doesn't seem localized to any specific TTP. The only thing that might be specific is it

[2022-06-02 13:31] bartimus-primed commented on #544
Outpost hosted payloads work fine, from what I see. Seems like this occurs with custom payloads.

[2022-06-02 13:35] privateducky commented on #541
@khyberspache could you patch this instruction?

[2022-06-02 13:36] privateducky commented on #539
@bartimus-primed could you pick this up now?
I'm ok if we kill this training flag for now as the solution.

[2022-06-02 13:41] bartimus-primed commented on #539
flag removed in: https://github.com/preludeorg/community/pull/516

[2022-06-02 13:41] #539 closed

[2022-06-02 13:47] privateducky commented on #544
ahhh that's really helpful. there must be a dependency missing

[2022-06-02 22:24] khyberspache commented on #524
This is occurring on plugins on redirectors too

[2022-06-02 22:53] khyberspache opened #545 "global.fetch not rejecting failed connections"
`fetch` attempts that hit an ECONNREFUSED are not rejected, which means promises resolve instead of reject:

![CleanShot 2022-06-02 at 18 52 18](https://user-images.githubusercontent.com/43142871/171751064-3c3bf5fa-e5bf-4dd3-8e25-0da5ae24016c.png)

We need to properly throw an error here so that the promise doesn't resolve and lead to undefined states

[2022-06-02 22:54] privateducky commented on #545
this the root cause of the http/vectr dual plugin install bug?

[2022-06-02 22:57] khyberspache commented on #545
I don't know if it's root cause, but it's definitely part of it

[2022-06-02 23:12] clr2of8 opened #546 "v1.6.0 cam"
If I X out a redirector then return to the "Deploy Manual Redirectors" form it can't be typed on. So I can fill in the FQDN and Token. I have to restart the app first.

[2022-06-02 23:13] clr2of8 commented on #546
If I X out a redirector then return to the "Deploy Manual Redirectors" form it can't be typed on. So I can fill in the FQDN and Token. I have to restart the app first.

[2022-06-02 23:44] khyberspache commented on #545
Fixed:
- https://github.com/preludeorg/operator/pull/3978

[2022-06-03 04:34] khyberspache commented on #524
After a LOT of digging, I believe I have figured out what is happening here.

When we call `Plugin.dataLoadPlugins()` we are doing 2 things:
1. synchronously reading the plugin from disk
2. invoking the script

There is a race condition somewhere with the I/O for loading the plugin & actually starting the listeners.

We need to separate out the process of loading in plugins from actually invoking

[2022-06-03 16:20] bartimus-primed opened #547 "XSS via API"
from time import sleep
from urllib.request import Request, urlopen
import ssl
import json
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
r = Request("https://127.0.0.1:8888/v1/schedule", headers={"Authorization": "YourApiKey", "Content-Type": "application/json"}, method="POST")
data = {"agents": ["<script>alert('noooo')</script>"], "ttps": ["5c4dd985-

[2022-06-03 16:24] bartimus-primed opened #548 "Scheduling a non existent agent adds it to the UI"
[code]
<img width="1612" alt="image" src="https://user-images.githubusercontent.com/465079/171906131-f9626e86-a389-4710-8c71-c8e0e62ef1ff.png">

[2022-06-03 21:40] khyberspache commented on #542
The agent is probably dead, we do not have a way to know that because UDP is non-persistent.

We need to apply the HTTP timeout logic to UDP and other non-stateful connections

[2022-06-03 21:41] khyberspache commented on #541
This should be working cross platform. I'm going to label this bug. It's a golang argparse thing

[2022-06-03 21:43] khyberspache commented on #535
Closing, moved into https://github.com/preludeorg/operator-support/issues/458

[2022-06-03 21:43] #535 closed

[2022-06-05 12:49] privateducky commented on #548
this seems more feature than bug to me: gives you the ability to pre-schedule agents before they're deployed. thoughts?

[2022-06-05 12:49] privateducky commented on #547
@gerbsec I know you've done some work here. thoughts?

[2022-06-05 12:49] privateducky commented on #546
closing as duplicate

[2022-06-05 12:49] #546 closed

[2022-06-08 19:32] khyberspache opened #549 "Replay last TTP/Chain button"
Having a "replay" last scheduled TTP/Chain would be very useful.

[2022-06-10 20:53] ax-anadrowski opened #550 "make chain endpoints consistent with TTP endpoints"
At the moment, when I create my own attack chains and import them via API, all the data is not imported. Only name, ttps, summary and ordered are imported. I would like metadata, id and variables (and whatever other keys exist for chains) added to enable me to use all the same features for my own attack chains.

In addition, this makes it easier and more convenient to build automation for backup/r

[2022-06-14 17:54] bartimus-primed commented on #544
So another side effect of this issue is that the redirector will just disconnect instead of erroring out in the TTP.

[2022-06-15 16:24] bartimus-primed opened #551 "JSON Parsing results in weird output"
This is new, I haven't seen it before. I've replicated it with multiple types of quotes.

<img width="1491" alt="image" src="https://user-images.githubusercontent.com/465079/173876489-a1d8035f-87ba-4797-9d06-cddf9be06784.png">

[2022-06-15 22:47] jaherne opened #552 "Nested lists in docs don't render correctly"
Nested unordered lists in markdown don't render correctly. With [links.md](https://github.com/preludeorg/community/blob/master/docs/operator/advanced/links.md) for an example, each list shows as a single paragraph:
<img width="626" alt="Screen Shot 2022-06-15 at 5 46 32 PM" src="https://user-images.githubusercontent.com/2062225/173954730-2b90bf41-a618-4606-9b1a-af9421686f33.png">

In Github, the m

[2022-06-18 03:16] clr2of8 opened #553 "v1.6.0 the lock agent button/functionality is missing"
This bug prevents the completion of the Introductory training.

[2022-06-23 17:06] #551 closed

[2022-06-29 00:38] makk94 commented on #508
I couldn't repro this on my mac - @khyberspache are your repro steps on a mac or windows?

[2022-06-29 21:26] makk94 commented on #533
I can't repro this (in either prod or locally)

[2022-06-29 21:29] makk94 commented on #533
Likely this was a problem fixed by https://github.com/preludeorg/professional/commit/8ddac26ba2d461232da8b5ad8222d3b9dc8ed06d (which was submitted a day before you posted this issue)

[2022-06-30 10:01] privateducky commented on #548
Closing for two reasons:
1. It seems feature-like.
2. Scheduling is changing in 2.0

[2022-06-30 10:01] #548 closed

[2022-06-30 10:01] privateducky commented on #519
Closing, as reverse shell is being removed from version 1.7.

[2022-06-30 10:01] #519 closed

[2022-06-30 10:02] privateducky commented on #553
@makk94 can you check which flag this is and adjust it/get it into production?

[2022-06-30 10:04] privateducky commented on #552
Good find.
I'm labeling this as a 'solved in 1.7' though, as we are moving docs out of the app and into an online location (readme.com).

[2022-06-30 10:06] privateducky commented on #550
This makes complete sense and is easy for us to do, while remaining backwards-compatible.

@makk94 can you take a look at this one for 1.7?

[2022-06-30 10:07] privateducky commented on #549
Agreed. This would be a nice core feature, that would be ideal for now and through our 2.0 release.

[2022-06-30 10:08] privateducky commented on #547
Marking as won't fix, as the API will be broken out from the UI in the 2.0 version of Operator (so not worth the effort in the period until then).

[2022-06-30 10:11] privateducky commented on #543
@makk94 can we do a short-cut for 1.7 on this topic, with an alert box on a log out event?

[2022-06-30 10:12] privateducky commented on #542
@makk94 per @khyberspache 's suggestion, we can utilize the HTTP sleep/timeout to determine whether UDP is alive or not. let's try and sneak this into 1.7.

[2022-06-30 10:15] privateducky commented on #534
No longer relevant, with reverse shell being dropped in 1.7.

[2022-06-30 10:15] #534 closed

[2022-06-30 10:15] privateducky commented on #533
perfect. labeling as fixed in 1.7.

[2022-06-30 10:20] privateducky commented on #515
Too much of an edge case, with what we'll be doing in 2.0, so closing off.

[2022-06-30 10:21] privateducky commented on #512
We've made changes for 1.6 around messaging, to make this clearer. Beyond that, because this is a pure UX play, I'm closing until 2.0, as we'll have a full refresh on these flows.

[2022-06-30 10:21] #512 closed

[2022-06-30 10:23] privateducky commented on #550
Combining this with a duplicate, earlier ask: https://github.com/preludeorg/operator-support/issues/482

[2022-06-30 10:23] #550 closed

[2022-06-30 10:24] privateducky commented on #482
Please note the duplicate ask, which has more details: https://github.com/preludeorg/operator-support/issues/550

[2022-06-30 10:25] privateducky commented on #481
@mireaulf since you're looking at docs, think you can get this in?

[2022-06-30 10:26] privateducky commented on #470
closing, as this is too nuanced to get in before 2.0 release - and 2.0 will render this not possible, given the direction we're going.

[2022-06-30 10:26] #470 closed

[2022-06-30 11:57] mireaulf commented on #481
Added to the next iteration of our doc

[2022-07-04 15:43] makk94 commented on #543
I can't find a way to trigger an event when a magical log out occurs. I can alert on every 403 response from HQ, but that sounds a little heavy handed, what do you think @privateducky

[2022-07-04 16:03] makk94 commented on #553
Looks like @bartimus-primed  removed this flag in https://github.com/preludeorg/community/commit/13c15678de6aea8b2252d7e45f36f9d45649e896

[2022-07-04 16:46] privateducky commented on #543
I think a 403 can only occur in a logout scenario, as nothing else goes through that http logic aside from calls to HQ... right? if that is true, then an alert per 403 could work.

[2022-07-04 16:46] #553 closed

[2022-07-05 17:38] makk94 commented on #538
Brought up a windows VM and can replicate the issue when I download Operator 1.6.0 but can't replicate it when I clone the repo and bring up Operator with the most recent code (using `npm run win:start:prod`)

I assume the bug was fixed by one of the PRs that has gone in in the past month, but if you want more concrete proof, lmk and I can hunt down the PR that did it

[2022-07-05 18:51] privateducky commented on #538
ok. marking as solved in 1.7, unless we can get a repro path ahead of release.

[2022-07-06 12:16] makk94 commented on #542
I think this requires changes to Pneuma (assuming that is the agent being used here)
So far as I can tell, UDP doesn't actually beacon in after  the initial connection, the agent just sits there waiting for messages from operator (in this [`for scanner.scan()` loop](https://github.com/preludeorg/pneuma/blob/2140ea3929e31211b7f934601d2902fb5046d0e8/sockets/rawudp.go#L30)

@privateducky Does this so

[2022-07-06 12:53] privateducky commented on #542
nope; we should solve via Operator.
an agent communicating over UDP should be similar to HTTP, where it sends in a beacon every n-number of seconds.

[2022-07-06 12:57] makk94 commented on #542
Agree that it should be.. but I really don't think it is. So making the udp agent send in a beacon every X seconds would need a change in Pneuma

When I run a pneuma HTTP agent in debug mode, I see the `[HTTP] Next beacon going out in 21 seconds` logs every 20 seconds (I changed the sleep interval), as expected. When I do the same for UDP, I don't see those logs. I think the UDP agent gets stuck f

[2022-07-06 13:05] privateducky commented on #542
<img width="1016" alt="Screen Shot 2022-07-06 at 9 05 22 AM" src="https://user-images.githubusercontent.com/49954156/177556946-a5f3e08c-274c-4866-af92-72d59f61fea4.png">

[2022-07-06 15:17] makk94 commented on #542
Did you have local operator open too? The beacons stop going out if there's an actual connection

[2022-07-06 16:26] makk94 commented on #542
When I add
[code]
to the udp pneuma code, the beacons get sent again (though on a different time interval)

Seems to indicate that the agent is stuck on the `scanner.scan()` and can't continue it's beaconing unless it either gets somethign from operator or I time out the wait with that SetReadDeadline

[2022-07-07 10:34] privateducky commented on #514
@makk94 this should be an easy/quick fix. let me know if you'd like extra eyes on this.

[2022-07-07 10:36] privateducky commented on #541
fixed, so closing

[2022-07-07 10:36] #541 closed

[2022-07-07 14:19] khyberspache opened #554 "Enterprise Vectr plugin bug"
Report from enterprise user that Vectr publisher is using old (1.5) link format:
[code]

[2022-07-07 15:47] bartimus-primed commented on #542
K, with this (https://github.com/preludeorg/pneuma/pull/122) it looks like the exit executor is working:
<img width="1496" alt="image" src="https://user-images.githubusercontent.com/465079/177816163-a880cac7-c819-40d5-ae5c-51b4e7c3703d.png">

[2022-07-09 12:03] privateducky commented on #508
@mireaulf @khyberspache questions open on this.

[2022-07-10 14:58] privateducky commented on #554
We should get this in for the 1.7 release @makk94

[2022-07-21 17:01] #554 closed

[2022-07-21 17:01] #552 closed

[2022-07-21 18:37] jaherne commented on #538
@clr2of8 can you try upgrading to 1.7 and let us know if you're still seeing this issue? We've incorporated a fix into the release but want to confirm it's working for you before we close the ticket.

[2022-07-22 15:55] #528 closed

[2022-07-26 00:39] clr2of8 opened #555 "v1.7.0 Answer for 2nd training question not accepted when non-ThirdEye agents exist"
I had a local windows agent deployed (non-ThirdEye) and I had run some TTPs against it. When I went to submit an answer of "90c2efaa-8205-480d-8bb6-61d90dbaf81b" to the question below, the training module wouldn't accept it until I killed my non-ThirdEye agent first.

![image](https://user-images.githubusercontent.com/22311332/180898111-81a27b0b-1cac-4e22-a538-5548c3b02cd0.png)

[2022-07-26 00:43] clr2of8 commented on #538
It says it downloaded to the downloads directory, but it isn't there
![image](https://user-images.githubusercontent.com/22311332/180898488-3afee399-7259-4e8a-9854-b44add75c095.png)

[2022-07-26 00:45] clr2of8 commented on #538
Oh, I see it is in the payloads directory. The messaging could be a little better there. I'll submit an issue and make that request.

C:\Users\art\AppData\Roaming\Operator\portal.prelude.org\payloads\ff5d3197ed4f7be37841af1ada7a682d335a892e

You can close this one out as fixed though. Thx

[2022-07-26 00:46] clr2of8 opened #556 "v1.7.0 Download messaging is unclear"
Would like to see the message more clear here that it's not the Downloads directory but instead the payloads directory in the appdata folder

![image](https://user-images.githubusercontent.com/22311332/180898800-439ff6ef-adf1-4a30-8ff3-3f96f7771f3d.png)

[2022-07-26 01:30] clr2of8 opened #557 "v1.7.0 Hello World training question doesn't verify"
I have deployed the Hello World TTP as follows

![image](https://user-images.githubusercontent.com/22311332/180902949-21521d50-8fad-41c3-91b9-bef36a91e1ee.png)

But the training question won't verify.

![image](https://user-images.githubusercontent.com/22311332/180903031-ac307f7b-0b31-4536-9e34-b8e1309c4d13.png)

Here is my YAML:

[code]

[2022-07-26 01:42] clr2of8 commented on #557
If I change the command to the following, in order to avoid the new line at the end, it verifies

[code]

[2022-07-26 04:09] clr2of8 opened #558 "v1.7.0 Training says name payload hello.txt but training module expects test.txt"
![image](https://user-images.githubusercontent.com/22311332/180921054-cb490031-d4bb-4a7e-9b77-bb8503cf6946.png)

[2022-07-26 09:55] j91321 opened #559 "Sliver plugin installation broken 1.7"
Hi,

I tried to install the Sliver plugin with the community operator 1.7 on both Windows and Linux. The plugin installation seems to be corrupted.

Listener never starts on port 8080. When checking the `~/.config/Operator/portal.prelude.org/plugins/Sliver` and `%APPDATA%\Operator\portal.prelude.org\plugins\Sliver` file `Sliver.js` exists but is empty. there is no `proto` folder.

![sliver_prelude

[2022-07-26 14:48] #538 closed

[2022-07-26 15:33] khyberspache commented on #559
Do you have any errors in your Dev console or `audit.log` when you try to install it?

[2022-07-26 18:18] j91321 commented on #559
From `audit.log`

[code]

Don't see anything in DevTools. One thing to point I am using the community version without any account logged in to outpost.

[2022-07-26 20:07] makk94 commented on #555
Was  one of the TTPs you ran on your local agent the 'Find Recent Files' ?

^ This would cause the question not to pass and I'm writing a fix for it, just want to make sure this is the root of your problem

[2022-07-26 20:35] clr2of8 commented on #555
yes, that is very likely

[2022-07-27 20:24] clr2of8 commented on #557
when will this fix be "in production" so that new students doing the training can just use "echo hello world" as the command and not worry about the newline?

[2022-07-27 20:46] clr2of8 commented on #557
(because I just tried it and it didn't work) This won't verify

![image](https://user-images.githubusercontent.com/22311332/181368879-a6119c1d-af35-4877-9e38-19d70e4b3142.png)

![image](https://user-images.githubusercontent.com/22311332/181368972-394b7110-33ce-48cf-8fb3-5c4af0880d67.png)

[2022-07-27 20:54] makk94 commented on #557
just pushed to production - try again now

[2022-07-27 21:00] clr2of8 commented on #557
yep, that did it, thx!

[2022-07-27 21:01] makk94 commented on #557
perfect, thanks for flagging the issue!

[2022-07-28 16:13] jtothef commented on #533
This issue appears to still persist for me in 1.7

Running Operator on Windows 10.

1) Turn off Vectr plugin - > config.yml file is removed
2) Turn on Vectr plugin -> config.yml is restored with old settings
3) Edit config.yml with new settings - > Operator does not appear to update Vectr
4) Turn off and on Vectr plugin - > config.yml is restored with old settings

From audit.log

`2022-07-28T16:0

[2022-07-28 16:28] privateducky commented on #533
@makk94 can you investigate?

[2022-07-30 16:18] makk94 commented on #533
The behavior of "Turn off and on Vectr plugin - > config.yml is restored with old settings" sounds like the right/normal behavior to me. Did that used to be the way to get config changes picked up? I don't see that written on doc.prelude.org

Solutions:
So we don't currently watch the config.yml for changes right now, so they aren't picked up immediately

We have a periodic sync every hour that pi

[2022-08-11 15:55] khyberspache commented on #559
resolution pushed to PROD

[2022-08-11 15:55] #559 closed

[2022-08-23 19:10] Ch1l3n0 opened #560 "Flashing and discoloration issues in the operator chain results pane. v1.7.0"
![Prelude_Issue](https://user-images.githubusercontent.com/40716092/186243904-48f72275-f80f-4a43-87a2-3b656688521e.PNG)

[2022-08-23 19:11] Ch1l3n0 commented on #560
Operator running on VMware VM, Ubuntu 20.04 LTS. Additional issues are an almost invisible _Deploy_ button for launching a chain.

[2022-08-23 19:13] Ch1l3n0 commented on #560
![Prelude_Issue_1](https://user-images.githubusercontent.com/40716092/186245604-d2059edd-d850-4456-8f80-e49e30640305.PNG)